openapi: 3.1.0
info:
  contact:
    email: support@zernio.com
    name: Zernio Support
    url: https://zernio.com
  description: |
    API reference for Zernio. Authenticate with a Bearer API key.
    Base URL: https://zernio.com/api
  termsOfService: https://zernio.com/tos
  title: Zernio API
  version: 1.0.1
  x-logo:
    url: https://zernio.com/icon.png?v=3
  x-long-description: |
    Zernio is the social media API that replaces 14 integrations. Schedule posts, retrieve analytics,
    manage DMs, comments, and reviews across Twitter/X, Instagram, TikTok, LinkedIn, Facebook,
    YouTube, Threads, Reddit, Pinterest, Bluesky, Telegram, Google Business, and Snapchat, all
    from a single REST API.

    Key features: Unified posting to 14 platforms, aggregated analytics, unified inbox (DMs, comments, reviews), webhooks, OAuth connect, queue scheduling, and white-label support for agencies managing 5,000+ accounts.

    Supported platforms: Twitter/X, Instagram, WhatsApp, Facebook, LinkedIn, TikTok, YouTube, Pinterest, Reddit, Bluesky, Threads, Google Business, Telegram, Snapchat.
  x-category: Social
  x-website: https://zernio.com
  x-thumbnail: https://rapidapi-prod-apis.s3.amazonaws.com/b24d3df5-563c-4a50-9e1e-1ad3eb1fce69.png
  x-version-lifecycle: ACTIVE
  x-badges:
  - name: social media
    value: social media
  - name: scheduling
    value: scheduling
  - name: instagram
    value: instagram
  - name: tiktok
    value: tiktok
  - name: twitter
    value: twitter
  - name: linkedin
    value: linkedin
  - name: facebook
    value: facebook
  - name: youtube
    value: youtube
  - name: social media api
    value: social media api
  - name: posting
    value: posting
servers:
- description: Production
  url: https://zernio.com/api
- description: Local
  url: http://localhost:3000/api
security:
- bearerAuth: []
tags:
- name: Posts
- name: Users
- name: Usage
- name: Profiles
- name: Accounts
- name: Account Groups
- name: API Keys
- name: Invites
- name: Connect
- name: Media
- name: Reddit Search
- name: Facebook
- name: GMB Reviews
- name: GMB Food Menus
- name: GMB Location Details
- name: GMB Media
- name: GMB Attributes
- name: GMB Place Actions
- name: LinkedIn Mentions
- name: Pinterest
- name: TikTok
- name: Queue
- name: Analytics
- description: |
    Check and manage inbox feature access.
  name: Inbox Access
- description: |
    Unified inbox API for managing conversations and direct messages across all connected accounts.
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Messages
- description: |
    Unified inbox API for managing comments on posts across all connected accounts.
    Supports commenting on third-party posts for platforms that allow it (YouTube, Twitter, Reddit, Bluesky, Threads).
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Comments
- description: |
    Unified inbox API for managing reviews on Facebook Pages and Google Business accounts.
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Reviews
- description: |
    X/Twitter-specific engagement endpoints for retweeting, bookmarking, and following.
    Rate limits: 50 requests per 15-min window per user. Retweets share the 300/3hr creation limit with tweet creation.
  name: Twitter Engagement
- description: |
    Media download and utility tools. Available to paid plans only.
    Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
    All responses include X-RateLimit-Limit, X-RateLimit-Remaining, and X-RateLimit-Reset headers.
  name: Tools
- description: |
    Pre-flight validation endpoints. Check post content, character limits, media URLs, and subreddit existence before publishing.
  name: Validate
- description: |
    Platform-specific account settings: Facebook persistent menu, Instagram ice breakers, and Telegram bot commands.
  name: Account Settings
- description: |
    Cross-platform contact management (CRM). Contacts are unified identities linked to platform-specific
    channels (phone, IGSID, etc.). Created automatically when messages arrive, or manually via API.
  name: Contacts
- description: |
    Custom field definitions for contacts. Define fields (text, number, date, boolean, select) that can be
    set on any contact for segmentation and personalization.
  name: Custom Fields
- description: |
    Platform-agnostic broadcast campaigns. Send bulk messages to contacts via any inbox platform.
    WhatsApp broadcasts use templates; other platforms use generic messages.
  name: Broadcasts
- description: |
    Drip campaign sequences. Send a series of messages to enrolled contacts with configurable delays
    between steps. Supports auto-exit on reply or unsubscribe.
  name: Sequences
- description: |
    Comment-to-DM growth automations. Set up keyword triggers on Instagram/Facebook posts so
    commenters automatically receive a DM. Supports dedup, optional public comment reply, and
    auto-creates contacts.
  name: Comment Automations
- description: |
    Configure webhooks for real-time notifications. Events: post.scheduled, post.published, post.failed, post.partial, post.cancelled, post.recycled, account.connected, account.disconnected, message.received, comment.received, webhook.test.
    Security: optional HMAC-SHA256 signature in X-Zernio-Signature header. Configure a secret key to enable verification. Custom headers supported.
  name: Webhooks
- description: |
    Incoming webhook deliveries sent by Zernio to your configured endpoint URL.
  name: Webhook Events
- description: |
    Publishing logs for transparency and debugging. Each log includes the platform API endpoint, HTTP status code, request/response bodies, duration, and retry attempts. Logs are automatically deleted after 7 days.
  name: Logs
- description: |
    WhatsApp Business API. Contact, broadcast, and group endpoints are **deprecated** in favor of the
    cross-platform `/v1/contacts`, `/v1/broadcasts`, and `/v1/sequences` endpoints.
    Template, business profile, and phone number endpoints remain active (no cross-platform equivalent).
    All endpoints require an accountId parameter identifying the WhatsApp-connected social account.
  name: WhatsApp
- description: |
    Manage WhatsApp phone numbers: purchase, verify, and release numbers for your WhatsApp Business account.
    Requires a paid plan.
  name: WhatsApp Phone Numbers
paths:
  /v1/tools/youtube/download:
    get:
      description: |
        Download YouTube videos or audio. Returns available formats or direct download URL.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadYouTubeVideo
      parameters:
      - description: YouTube video URL or video ID
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://www.youtube.com/watch?v=dQw4w9WgXcQ
          type: string
        style: form
      - description: "Action to perform: 'download' returns download URL, 'formats'\
          \ lists available formats"
        explode: true
        in: query
        name: action
        required: false
        schema:
          default: download
          enum:
          - download
          - formats
          type: string
        style: form
      - description: Desired format (when action=download)
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: video
          enum:
          - video
          - audio
          type: string
        style: form
      - description: Desired quality (when action=download)
        explode: true
        in: query
        name: quality
        required: false
        schema:
          default: hd
          enum:
          - hd
          - sd
          type: string
        style: form
      - description: Specific format ID from formats list
        explode: true
        in: query
        name: formatId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadYouTubeVideo_200_response"
          description: Success
          headers:
            X-RateLimit-Limit:
              description: Daily rate limit
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Remaining:
              description: Remaining calls today
              explode: false
              schema:
                type: string
              style: simple
            X-RateLimit-Reset:
              description: Unix timestamp when limit resets
              explode: false
              schema:
                type: string
              style: simple
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tools API not available on free plan
        "429":
          description: Daily rate limit exceeded
      security:
      - bearerAuth: []
      summary: Download YouTube video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/youtube/transcript:
    get:
      description: |
        Extract transcript/captions from a YouTube video.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: getYouTubeTranscript
      parameters:
      - description: YouTube video URL or video ID
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: Language code for transcript
        explode: true
        in: query
        name: lang
        required: false
        schema:
          default: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeTranscript_200_response"
          description: Success
        "404":
          description: No transcript available
        "503":
          description: Transcript service temporarily unavailable
      security:
      - bearerAuth: []
      summary: Get YouTube transcript
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/instagram/download:
    get:
      description: |
        Download Instagram reels, posts, or photos.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadInstagramMedia
      parameters:
      - description: Instagram reel or post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://www.instagram.com/reel/ABC123/
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadInstagramMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Instagram media
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/instagram/hashtag-checker:
    post:
      description: |
        Check if Instagram hashtags are banned, restricted, or safe to use.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: checkInstagramHashtags
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkInstagramHashtags_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkInstagramHashtags_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Check IG hashtag bans
      tags:
      - Tools
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/tiktok/download:
    get:
      description: |
        Download TikTok videos with or without watermark.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadTikTokVideo
      parameters:
      - description: TikTok video URL or ID
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: '''formats'' to list available formats'
        explode: true
        in: query
        name: action
        required: false
        schema:
          default: download
          enum:
          - download
          - formats
          type: string
        style: form
      - description: "Specific format ID (0 = no watermark, etc.)"
        explode: true
        in: query
        name: formatId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadTikTokVideo_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download TikTok video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/twitter/download:
    get:
      description: |
        Download videos from Twitter/X posts.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadTwitterMedia
      parameters:
      - description: Twitter/X post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://x.com/user/status/123456789
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          default: download
          enum:
          - download
          - formats
          type: string
        style: form
      - explode: true
        in: query
        name: formatId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadInstagramMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Twitter/X media
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/facebook/download:
    get:
      description: |
        Download videos and reels from Facebook.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadFacebookVideo
      parameters:
      - description: Facebook video or reel URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadFacebookVideo_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Facebook video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/linkedin/download:
    get:
      description: |
        Download videos from LinkedIn posts.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadLinkedInVideo
      parameters:
      - description: LinkedIn post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadInstagramMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download LinkedIn video
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/bluesky/download:
    get:
      description: |
        Download videos from Bluesky posts.

        Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      operationId: downloadBlueskyMedia
      parameters:
      - description: Bluesky post URL
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://bsky.app/profile/user.bsky.social/post/abc123
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadBlueskyMedia_200_response"
          description: Success
      security:
      - bearerAuth: []
      summary: Download Bluesky media
      tags:
      - Tools
      x-accepts:
      - application/json
  /v1/tools/validate/post-length:
    post:
      description: |
        Check weighted character count per platform and whether the text is within each platform's limit.

        Twitter/X uses weighted counting (URLs = 23 chars via t.co, emojis = 2 chars). All other platforms use plain character length.

        Returns counts and limits for all 15 supported platform variants.
      operationId: validatePostLength
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validatePostLength_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePostLength_200_response"
          description: Character counts per platform
      security:
      - bearerAuth: []
      summary: Validate post character count
      tags:
      - Validate
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/post:
    post:
      description: |
        Dry-run the full post validation pipeline without publishing. Catches issues like missing media for Instagram/TikTok/YouTube, hashtag limits, invalid thread formats, Facebook Reel requirements, and character limit violations.

        Accepts the same body as `POST /v1/posts`. Does NOT validate accounts, process media, or track usage. This is content-only validation.

        Returns errors for failures and warnings for near-limit content (>90% of character limit).
      operationId: validatePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validatePost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePost_200_response"
          description: Validation result
      security:
      - bearerAuth: []
      summary: Validate post content
      tags:
      - Validate
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/media:
    post:
      description: |
        Check if a media URL is accessible and return metadata (content type, file size) plus per-platform size limit comparisons.

        Performs a HEAD request (with GET fallback) to detect content type and size. Rejects private/localhost URLs for SSRF protection.

        Platform limits are sourced from each platform's actual upload constraints.
      operationId: validateMedia
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validateMedia_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateMedia_200_response"
          description: Media validation result
      security:
      - bearerAuth: []
      summary: Validate media URL
      tags:
      - Validate
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/subreddit:
    get:
      description: |
        Check if a subreddit exists and return basic info (title, subscriber count, NSFW status, post types allowed).

        Uses Reddit's public JSON API (no Reddit auth needed). Returns `exists: false` for private, banned, or nonexistent subreddits.
      operationId: validateSubreddit
      parameters:
      - description: Subreddit name (with or without "r/" prefix)
        explode: true
        in: query
        name: name
        required: true
        schema:
          example: programming
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateSubreddit_200_response"
          description: Subreddit lookup result
      security:
      - bearerAuth: []
      summary: Check subreddit existence
      tags:
      - Validate
      x-accepts:
      - application/json
  /v1/analytics:
    get:
      description: |
        Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats.
        Accepts both Zernio Post IDs and External Post IDs (auto-resolved). fromDate defaults to 90 days ago if omitted, max range 366 days.
        Single post lookups may return 202 (sync pending) or 424 (all platforms failed). For follower stats, use /v1/accounts/follower-stats.
      operationId: getAnalytics
      parameters:
      - description: Returns analytics for a single post. Accepts both Zernio Post
          IDs and External Post IDs. Zernio IDs are auto-resolved to External Post
          analytics.
        explode: true
        in: query
        name: postId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by platform (default "all")
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID (default "all")
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by social account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by post source: late (posted via Zernio API), external\
          \ (synced from platform), all (default)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      - description: Inclusive lower bound (YYYY-MM-DD). Defaults to 90 days ago if
          omitted. Max range is 366 days.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Inclusive upper bound (YYYY-MM-DD). Defaults to today if omitted.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Page size (default 50)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Page number (default 1)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: "Sort by date, engagement, or a specific metric"
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: date
          enum:
          - date
          - engagement
          - impressions
          - reach
          - likes
          - comments
          - shares
          - saves
          - clicks
          - views
          type: string
        style: form
      - description: Sort order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                singlePost:
                  summary: Single post analytics (Zernio post with synced analytics)
                  value:
                    postId: 65f1c0a9e2b5af0012ab34cd
                    latePostId: null
                    status: published
                    content: Check out our new product launch!
                    scheduledFor: 2024-11-01T10:00:00Z
                    publishedAt: 2024-11-01T10:00:05Z
                    analytics:
                      impressions: 15420
                      reach: 12350
                      likes: 342
                      comments: 28
                      shares: 45
                      saves: 0
                      clicks: 189
                      views: 0
                      engagementRate: 2.78
                      lastUpdated: 2024-11-02T08:30:00Z
                    platformAnalytics:
                    - platform: twitter
                      status: published
                      accountId: 64e1f0a9e2b5af0012ab34cd
                      accountUsername: '@acmecorp'
                      analytics:
                        impressions: 15420
                        reach: 12350
                        likes: 342
                        comments: 28
                        shares: 45
                        saves: 0
                        clicks: 189
                        views: 0
                        engagementRate: 2.78
                        lastUpdated: 2024-11-02T08:30:00Z
                      syncStatus: synced
                      platformPostUrl: https://twitter.com/acmecorp/status/123456789
                      errorMessage: null
                    platform: twitter
                    platformPostUrl: https://twitter.com/acmecorp/status/123456789
                    isExternal: false
                    syncStatus: synced
                    message: null
                    thumbnailUrl: https://storage.example.com/image.jpg
                    mediaType: image
                    mediaItems:
                    - type: image
                      url: https://storage.example.com/image.jpg
                      thumbnail: https://storage.example.com/image.jpg
                postList:
                  description: |
                    Note: The list endpoint returns External Post IDs. Posts originally
                    scheduled via Zernio will have isExternal: true in this response.
                    Use platformPostUrl to correlate with your original Zernio Post IDs.
                  summary: Paginated analytics list
                  value:
                    overview:
                      totalPosts: 156
                      publishedPosts: 156
                      scheduledPosts: 0
                      lastSync: 2024-11-02T08:30:00Z
                      dataStaleness:
                        staleAccountCount: 0
                        syncTriggered: false
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      latePostId: 65f1c0a9e2b5af0012ab34ab
                      content: Check out our new product launch!
                      scheduledFor: 2024-11-01T10:00:00Z
                      publishedAt: 2024-11-01T10:00:05Z
                      status: published
                      analytics:
                        impressions: 15420
                        reach: 12350
                        likes: 342
                        comments: 28
                        shares: 45
                        saves: 0
                        clicks: 189
                        views: 0
                        engagementRate: 2.78
                        lastUpdated: 2024-11-02T08:30:00Z
                      platforms:
                      - platform: instagram
                        status: published
                        accountId: 64e1f0a9e2b5af0012ab34cd
                        accountUsername: '@acmecorp'
                        analytics:
                          impressions: 15420
                          reach: 12350
                          likes: 342
                          comments: 28
                          shares: 45
                          saves: 0
                          clicks: 189
                          views: 0
                          engagementRate: 2.78
                          lastUpdated: 2024-11-02T08:30:00Z
                        syncStatus: synced
                        platformPostUrl: https://www.instagram.com/reel/ABC123xyz/
                        errorMessage: null
                      platform: instagram
                      platformPostUrl: https://www.instagram.com/reel/ABC123xyz/
                      isExternal: true
                      profileId: 64e1f0a9e2b5af0012ab34cd
                      thumbnailUrl: https://storage.example.com/thumb.jpg
                      mediaType: carousel
                      mediaItems:
                      - type: image
                        url: https://storage.example.com/slide1.jpg
                        thumbnail: https://storage.example.com/slide1.jpg
                      - type: image
                        url: https://storage.example.com/slide2.jpg
                        thumbnail: https://storage.example.com/slide2.jpg
                    pagination:
                      page: 1
                      limit: 50
                      total: 156
                      pages: 4
                    accounts:
                    - _id: 64e1f0...
                      platform: twitter
                      username: '@acmecorp'
                      displayName: Acme Corp
                      isActive: true
                    hasAnalyticsAccess: true
              schema:
                $ref: "#/components/schemas/getAnalytics_200_response"
          description: Analytics result
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSinglePostResponse"
          description: Analytics are being synced from the platform (single post lookup
            only). The response body matches AnalyticsSinglePostResponse with syncStatus
            "pending" and a message.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_400_response"
          description: Validation error
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "404":
          $ref: "#/components/responses/NotFound"
        "424":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSinglePostResponse"
          description: Post failed to publish on all platforms. Analytics are unavailable.
            (single post lookup only)
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      summary: Get post analytics
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/youtube/daily-views:
    get:
      description: |
        Returns daily view counts for a YouTube video including views, watch time, and subscriber changes.
        Requires yt-analytics.readonly scope (re-authorization may be needed). Data has a 2-3 day delay. Max 90 days, defaults to last 30 days.
      operationId: getYouTubeDailyViews
      parameters:
      - description: "The YouTube video ID (e.g., \"dQw4w9WgXcQ\")"
        explode: true
        in: query
        name: videoId
        required: true
        schema:
          type: string
        style: form
      - description: The Zernio account ID for the YouTube account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to 3 days ago (YouTube data latency).
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  summary: Successful response with daily views
                  value:
                    success: true
                    videoId: dQw4w9WgXcQ
                    dateRange:
                      startDate: 2025-01-01
                      endDate: 2025-01-12
                    totalViews: 12345
                    dailyViews:
                    - date: 2025-01-12
                      views: 1234
                      estimatedMinutesWatched: 567.5
                      averageViewDuration: 45.2
                      subscribersGained: 10
                      subscribersLost: 2
                      likes: 89
                      comments: 12
                      shares: 5
                    - date: 2025-01-11
                      views: 987
                      estimatedMinutesWatched: 432.1
                      averageViewDuration: 43.8
                      subscribersGained: 8
                      subscribersLost: 1
                      likes: 67
                      comments: 8
                      shares: 3
                    lastSyncedAt: 2025-01-15T12:00:00Z
                    scopeStatus:
                      hasAnalyticsScope: true
              schema:
                $ref: "#/components/schemas/YouTubeDailyViewsResponse"
          description: Daily views breakdown
        "400":
          content:
            application/json:
              examples:
                missingVideoId:
                  value:
                    error: videoId is required
                invalidDate:
                  value:
                    error: Invalid startDate format. Use YYYY-MM-DD.
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (missing or invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "412":
          content:
            application/json:
              examples:
                scopeMissing:
                  summary: YouTube Analytics scope not granted
                  value:
                    success: false
                    error: "To access daily video analytics, please reconnect your\
                      \ YouTube account to grant the required permissions."
                    code: youtube_analytics_scope_missing
                    scopeStatus:
                      hasAnalyticsScope: false
                      requiresReauthorization: true
                      reauthorizeUrl: https://accounts.google.com/o/oauth2/auth?client_id=...
              schema:
                $ref: "#/components/schemas/YouTubeScopeMissingResponse"
          description: Missing YouTube Analytics scope
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_500_response"
          description: Internal server error
      summary: Get YouTube daily views
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/instagram/account-insights:
    get:
      description: |
        Returns account-level Instagram insights such as reach, views, accounts engaged, and total interactions.
        These metrics reflect the entire account's performance across all content surfaces (feed, stories, explore, profile),
        and are fundamentally different from post-level metrics. Data may be delayed up to 48 hours.
        Max 90 days, defaults to last 30 days. Requires the Analytics add-on.
      operationId: getInstagramAccountInsights
      parameters:
      - description: The Zernio SocialAccount ID for the Instagram account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of metrics. Defaults to "reach,views,accounts_engaged,total_interactions".
          Valid metrics: reach, views, accounts_engaged, total_interactions, comments, likes, saves, shares,
          replies, reposts, follows_and_unfollows, profile_links_taps.
          Note: only "reach" supports metricType=time_series. All other metrics are total_value only.
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to today.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          "total_value" (default) returns aggregated totals and supports breakdowns.
          "time_series" returns daily values but only works with the "reach" metric.
        explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      - description: |
          Breakdown dimension (only valid with metricType=total_value).
          Valid values depend on the metric: media_product_type, follow_type, follower_type, contact_button_type.
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                timeSeries:
                  summary: Time series response with daily values
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: instagram
                    dateRange:
                      since: 2026-03-01
                      until: 2026-03-22
                    metricType: time_series
                    metrics:
                      reach:
                        total: 12500
                        values:
                        - date: 2026-03-01
                          value: 420
                        - date: 2026-03-02
                          value: 385
                      views:
                        total: 45000
                        values:
                        - date: 2026-03-01
                          value: 1520
                        - date: 2026-03-02
                          value: 1380
                    dataDelay: Data may be delayed up to 48 hours
                totalValueWithBreakdown:
                  summary: Total value response with media type breakdown
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: instagram
                    dateRange:
                      since: 2026-03-01
                      until: 2026-03-22
                    metricType: total_value
                    breakdown: media_product_type
                    metrics:
                      reach:
                        total: 12500
                        breakdowns:
                        - dimension: FEED
                          value: 5000
                        - dimension: REELS
                          value: 7500
                    dataDelay: Data may be delayed up to 48 hours
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Account insights data
        "400":
          content:
            application/json:
              examples:
                invalidMetric:
                  value:
                    error: "Invalid metrics: impressions"
                    validMetrics:
                    - accounts_engaged
                    - comments
                    - follows_and_unfollows
                    - likes
                    - profile_links_taps
                    - reach
                    - replies
                    - reposts
                    - saves
                    - shares
                    - total_interactions
                    - views
                breakdownWithTimeSeries:
                  value:
                    error: Breakdowns are only supported with metricType=total_value
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInstagramAccountInsights_404_response"
          description: Account not found
      summary: Get Instagram account-level insights
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/instagram/demographics:
    get:
      description: |
        Returns audience demographic insights for an Instagram account, broken down by age, city, country, and/or gender.
        Requires at least 100 followers. Returns top 45 entries per dimension.
        Data may be delayed up to 48 hours. Requires the Analytics add-on.
      operationId: getInstagramDemographics
      parameters:
      - description: The Zernio SocialAccount ID for the Instagram account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          "follower_demographics" for follower audience data, or "engaged_audience_demographics" for engaged viewers.
        explode: true
        in: query
        name: metric
        required: false
        schema:
          default: follower_demographics
          enum:
          - follower_demographics
          - engaged_audience_demographics
          type: string
        style: form
      - description: |
          Comma-separated list of demographic dimensions: age, city, country, gender.
          Defaults to all four if omitted.
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          type: string
        style: form
      - description: |
          Time period for demographic data. Defaults to "this_month".
        explode: true
        in: query
        name: timeframe
        required: false
        schema:
          default: this_month
          enum:
          - this_week
          - this_month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                allBreakdowns:
                  summary: All four demographic breakdowns
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: instagram
                    metric: follower_demographics
                    timeframe: last_30_days
                    demographics:
                      age:
                      - dimension: 25-34
                        value: 4500
                      - dimension: 18-24
                        value: 3200
                      gender:
                      - dimension: M
                        value: 3000
                      - dimension: F
                        value: 4800
                      city:
                      - dimension: "New York, New York"
                        value: 800
                      - dimension: "Los Angeles, California"
                        value: 650
                      country:
                      - dimension: US
                        value: 5000
                      - dimension: GB
                        value: 1200
                    note: Demographics show top 45 entries per dimension. Requires
                      100+ followers.
              schema:
                $ref: "#/components/schemas/InstagramDemographicsResponse"
          description: Demographic insights data
        "400":
          content:
            application/json:
              examples:
                invalidBreakdown:
                  value:
                    error: "Invalid breakdowns: location"
                    validBreakdowns:
                    - age
                    - city
                    - country
                    - gender
                insufficientFollowers:
                  value:
                    success: false
                    error: Demographic insights require at least 100 followers.
                    code: instagram_insufficient_followers
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInstagramAccountInsights_404_response"
          description: Account not found
      summary: Get Instagram audience demographics
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/daily-metrics:
    get:
      description: |
        Returns daily aggregated analytics metrics and a per-platform breakdown.
        Each day includes post count, platform distribution, and summed metrics (impressions, reach, likes, comments, shares, saves, clicks, views).
        Defaults to the last 180 days. Requires the Analytics add-on.
      operationId: getDailyMetrics
      parameters:
      - description: "Filter by platform (e.g. \"instagram\", \"tiktok\"). Omit for\
          \ all platforms."
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID. Omit for all profiles.
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by social account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: Inclusive start date (ISO 8601). Defaults to 180 days ago.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Inclusive end date (ISO 8601). Defaults to now.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by post origin. \"late\" for posts published via Zernio,\
          \ \"external\" for posts imported from platforms."
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    dailyData:
                    - date: 2025-12-01
                      postCount: 3
                      platforms:
                        instagram: 2
                        twitter: 1
                      metrics:
                        impressions: 4520
                        reach: 3200
                        likes: 312
                        comments: 45
                        shares: 28
                        saves: 67
                        clicks: 89
                        views: 1560
                    platformBreakdown:
                    - platform: instagram
                      postCount: 142
                      impressions: 89400
                      reach: 62100
                      likes: 8930
                      comments: 1204
                      shares: 567
                      saves: 2103
                      clicks: 3402
                      views: 45200
              schema:
                $ref: "#/components/schemas/getDailyMetrics_200_response"
          description: Daily metrics and platform breakdown
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
      summary: Get daily aggregated metrics
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/best-time:
    get:
      description: |
        Returns the best times to post based on historical engagement data.
        Groups all published posts by day of week and hour (UTC), calculating average engagement per slot.
        Use this to auto-schedule posts at optimal times. Requires the Analytics add-on.
      operationId: getBestTimeToPost
      parameters:
      - description: "Filter by platform (e.g. \"instagram\", \"tiktok\"). Omit for\
          \ all platforms."
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID. Omit for all profiles.
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by post origin. \"late\" for posts published via Zernio,\
          \ \"external\" for posts imported from platforms."
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    slots:
                    - day_of_week: 2
                      hour: 18
                      avg_engagement: 510.3
                      post_count: 15
                    - day_of_week: 0
                      hour: 9
                      avg_engagement: 342.5
                      post_count: 12
                    - day_of_week: 4
                      hour: 12
                      avg_engagement: 289.1
                      post_count: 8
              schema:
                $ref: "#/components/schemas/getBestTimeToPost_200_response"
          description: Best time slots
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBestTimeToPost_403_response"
          description: Analytics add-on required
      summary: Get best times to post
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/content-decay:
    get:
      description: |
        Returns how engagement accumulates over time after a post is published.
        Each bucket shows what percentage of the post's total engagement had been reached by that time window.
        Useful for understanding content lifespan (e.g. "posts reach 78% of total engagement within 24 hours").
        Requires the Analytics add-on.
      operationId: getContentDecay
      parameters:
      - description: "Filter by platform (e.g. \"instagram\", \"tiktok\"). Omit for\
          \ all platforms."
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID. Omit for all profiles.
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by post origin. \"late\" for posts published via Zernio,\
          \ \"external\" for posts imported from platforms."
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    buckets:
                    - bucket_order: 0
                      bucket_label: 0-6h
                      avg_pct_of_final: 45.2
                      post_count: 89
                    - bucket_order: 1
                      bucket_label: 6-12h
                      avg_pct_of_final: 18.7
                      post_count: 89
                    - bucket_order: 2
                      bucket_label: 12-24h
                      avg_pct_of_final: 14.1
                      post_count: 85
                    - bucket_order: 3
                      bucket_label: 1-2d
                      avg_pct_of_final: 9.3
                      post_count: 82
                    - bucket_order: 4
                      bucket_label: 2-7d
                      avg_pct_of_final: 8.1
                      post_count: 78
                    - bucket_order: 5
                      bucket_label: 7-30d
                      avg_pct_of_final: 3.8
                      post_count: 64
                    - bucket_order: 6
                      bucket_label: 30d+
                      avg_pct_of_final: 0.8
                      post_count: 41
              schema:
                $ref: "#/components/schemas/getContentDecay_200_response"
          description: Content decay buckets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBestTimeToPost_403_response"
          description: Analytics add-on required
      summary: Get content performance decay
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/posting-frequency:
    get:
      description: |
        Returns the correlation between posting frequency (posts per week) and engagement rate, broken down by platform.
        Helps find the optimal posting cadence for each platform. Each row represents a specific (platform, posts_per_week) combination
        with the average engagement rate observed across all weeks matching that frequency.
        Requires the Analytics add-on.
      operationId: getPostingFrequency
      parameters:
      - description: "Filter by platform (e.g. \"instagram\", \"tiktok\"). Omit for\
          \ all platforms."
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID. Omit for all profiles.
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by post origin. \"late\" for posts published via Zernio,\
          \ \"external\" for posts imported from platforms."
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    frequency:
                    - platform: instagram
                      posts_per_week: 2
                      avg_engagement_rate: 44.4
                      avg_engagement: 512
                      weeks_count: 18
                    - platform: instagram
                      posts_per_week: 4
                      avg_engagement_rate: 5.9
                      avg_engagement: 203
                      weeks_count: 6
                    - platform: facebook
                      posts_per_week: 3
                      avg_engagement_rate: 12.5
                      avg_engagement: 87
                      weeks_count: 10
              schema:
                $ref: "#/components/schemas/getPostingFrequency_200_response"
          description: Posting frequency data
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBestTimeToPost_403_response"
          description: Analytics add-on required
      summary: Get posting frequency vs engagement
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/analytics/post-timeline:
    get:
      description: |
        Returns a daily timeline of analytics metrics for a specific post, showing how impressions, likes,
        and other metrics evolved day-by-day since publishing. Each row represents one day of data per platform.
        For multi-platform Zernio posts, returns separate rows for each platform. Requires the Analytics add-on.
      operationId: getPostTimeline
      parameters:
      - description: |
          The post to fetch timeline for. Accepts an ExternalPost ID, a platformPostId, or a Zernio Post ID.
        explode: true
        in: query
        name: postId
        required: true
        schema:
          type: string
        style: form
      - description: Start of date range (ISO 8601). Defaults to 90 days ago.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of date range (ISO 8601). Defaults to now.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                single_platform:
                  summary: Single-platform post timeline
                  value:
                    postId: 6507a1b2c3d4e5f6a7b8c9d0
                    timeline:
                    - date: 2025-01-15
                      platform: instagram
                      platformPostId: "17902345678901234"
                      impressions: 1200
                      reach: 980
                      likes: 45
                      comments: 3
                      shares: 12
                      saves: 8
                      clicks: 25
                      views: 0
                    - date: 2025-01-16
                      platform: instagram
                      platformPostId: "17902345678901234"
                      impressions: 2400
                      reach: 1850
                      likes: 92
                      comments: 7
                      shares: 21
                      saves: 15
                      clicks: 48
                      views: 0
              schema:
                $ref: "#/components/schemas/getPostTimeline_200_response"
          description: Daily analytics timeline
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPostTimeline_400_response"
          description: Missing required postId parameter
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics add-on required
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPostTimeline_403_response"
          description: Forbidden (post belongs to another user or API key scope violation)
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPostTimeline_404_response"
          description: Post not found
      summary: Get post analytics timeline
      tags:
      - Analytics
      x-accepts:
      - application/json
  /v1/account-groups:
    get:
      description: "Returns all account groups for the authenticated user, including\
        \ group names and associated account IDs."
      operationId: listAccountGroups
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    groups:
                    - _id: 6507a1b2c3d4e5f6a7b8c9d0
                      name: Marketing Accounts
                      accountIds:
                      - 64e1f0a9e2b5af0012ab34cd
                      - 64e1f0a9e2b5af0012ab34ce
                    - _id: 6507a1b2c3d4e5f6a7b8c9d1
                      name: Personal Brand
                      accountIds:
                      - 64e1f0a9e2b5af0012ab34cf
              schema:
                $ref: "#/components/schemas/listAccountGroups_200_response"
          description: Groups
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List groups
      tags:
      - Account Groups
      x-accepts:
      - application/json
    post:
      description: Creates a new account group with a name and a list of social account
        IDs.
      operationId: createAccountGroup
      requestBody:
        content:
          application/json:
            example:
              name: Marketing Accounts
              accountIds:
              - 64e1f0a9e2b5af0012ab34cd
              - 64e1f0a9e2b5af0012ab34ce
            schema:
              $ref: "#/components/schemas/createAccountGroup_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                message: Account group created successfully
                group:
                  _id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Marketing Accounts
                  accountIds:
                  - 64e1f0a9e2b5af0012ab34cd
                  - 64e1f0a9e2b5af0012ab34ce
              schema:
                $ref: "#/components/schemas/createAccountGroup_201_response"
          description: Created
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Group name already exists
      summary: Create group
      tags:
      - Account Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account-groups/{groupId}:
    delete:
      description: Permanently deletes an account group. The accounts themselves are
        not affected.
      operationId: deleteAccountGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account group deleted successfully
              schema:
                $ref: "#/components/schemas/deleteAccountGroup_200_response"
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete group
      tags:
      - Account Groups
      x-accepts:
      - application/json
    put:
      description: "Updates the name or account list of an existing group. You can\
        \ rename the group, change its accounts, or both."
      operationId: updateAccountGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Updated Marketing Accounts
              accountIds:
              - 64e1f0a9e2b5af0012ab34cd
              - 64e1f0a9e2b5af0012ab34ce
              - 64e1f0a9e2b5af0012ab34cf
            schema:
              $ref: "#/components/schemas/updateAccountGroup_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account group updated successfully
                group:
                  _id: 6507a1b2c3d4e5f6a7b8c9d0
                  name: Updated Marketing Accounts
                  accountIds:
                  - 64e1f0a9e2b5af0012ab34cd
                  - 64e1f0a9e2b5af0012ab34ce
                  - 64e1f0a9e2b5af0012ab34cf
              schema:
                $ref: "#/components/schemas/updateAccountGroup_200_response"
          description: Updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Group name already exists
      summary: Update group
      tags:
      - Account Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/media/presign:
    post:
      description: "Get a presigned URL to upload files directly to cloud storage\
        \ (up to 5GB). Returns an uploadUrl and publicUrl. PUT your file to the uploadUrl,\
        \ then use the publicUrl in your posts."
      operationId: getMediaPresignedUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getMediaPresignedUrl_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                uploadUrl: <presigned-upload-url>
                publicUrl: https://media.zernio.com/temp/1234567890_abc123_my-video.mp4
                key: temp/1234567890_abc123_my-video.mp4
                type: video
              schema:
                $ref: "#/components/schemas/getMediaPresignedUrl_200_response"
          description: Presigned URL generated successfully
        "400":
          content:
            application/json:
              examples:
                missing_filename:
                  value:
                    error: filename and contentType are required
                invalid_type:
                  value:
                    error: "Content type not allowed: text/plain"
                file_too_large:
                  value:
                    error: File too large. Maximum size is 5GB.
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: "Invalid request (missing filename, contentType, or unsupported\
            \ content type)"
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: Get presigned upload URL
      tags:
      - Media
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/reddit/search:
    get:
      description: Search Reddit posts using a connected account. Optionally scope
        to a specific subreddit.
      operationId: searchReddit
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subreddit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: restrict_sr
        required: false
        schema:
          enum:
          - "0"
          - "1"
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: new
          enum:
          - relevance
          - hot
          - top
          - new
          - comments
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                posts:
                - id: 1abc234
                  title: How to grow on social media in 2025
                  selftext: Here are my tips...
                  author: marketingpro
                  subreddit: socialmedia
                  score: 156
                  num_comments: 42
                  created_utc: 1730000000
                  permalink: /r/socialmedia/comments/1abc234/how_to_grow/
                after: t3_1abc234
              schema:
                $ref: "#/components/schemas/searchReddit_200_response"
          description: Search results
        "400":
          description: Missing params
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Account not found
      summary: Search posts
      tags:
      - Reddit Search
      x-accepts:
      - application/json
  /v1/reddit/feed:
    get:
      description: "Fetch posts from a subreddit feed. Supports sorting, time filtering,\
        \ and cursor-based pagination."
      operationId: getRedditFeed
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subreddit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: hot
          enum:
          - hot
          - new
          - top
          - rising
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: t
        required: false
        schema:
          enum:
          - hour
          - day
          - week
          - month
          - year
          - all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                posts:
                - id: 1xyz789
                  title: Top marketing trends this week
                  author: trendwatcher
                  subreddit: marketing
                  score: 892
                  num_comments: 134
                  created_utc: 1730100000
                  permalink: /r/marketing/comments/1xyz789/top_marketing_trends/
                - id: 1def456
                  title: My social media strategy that worked
                  author: growthexpert
                  subreddit: marketing
                  score: 567
                  num_comments: 89
                  created_utc: 1730050000
                  permalink: /r/marketing/comments/1def456/my_social_media_strategy/
                after: t3_1def456
              schema:
                $ref: "#/components/schemas/getRedditFeed_200_response"
          description: Feed items
        "400":
          description: Missing params
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Account not found
      summary: Get subreddit feed
      tags:
      - Reddit Search
      x-accepts:
      - application/json
  /v1/usage-stats:
    get:
      description: "Returns the current plan name, billing period, plan limits, and\
        \ usage counts."
      operationId: getUsageStats
      responses:
        "200":
          content:
            application/json:
              example:
                planName: Pro
                billingPeriod: monthly
                signupDate: 2024-01-15T10:30:00Z
                billingAnchorDay: 15
                limits:
                  uploads: 500
                  profiles: 10
                usage:
                  uploads: 127
                  profiles: 3
                  lastReset: 2024-11-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/UsageStats"
          description: Usage stats
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Get plan and usage stats
      tags:
      - Usage
      x-accepts:
      - application/json
  /v1/posts:
    get:
      description: Returns a paginated list of posts. Published posts include platformPostUrl
        with the public URL on each platform.
      operationId: listPosts
      parameters:
      - $ref: "#/components/parameters/PageParam"
      - $ref: "#/components/parameters/LimitParam"
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - scheduled
          - published
          - failed
          type: string
        style: form
      - explode: true
        in: query
        name: platform
        required: false
        schema:
          example: twitter
          type: string
        style: form
      - explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: createdBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: includeHidden
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Search posts by text content.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Sort order for results.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: scheduled-desc
          enum:
          - scheduled-desc
          - scheduled-asc
          - created-desc
          - created-asc
          - status
          - platform
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                scheduledPost:
                  summary: Scheduled post (pending publish)
                  value:
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: scheduled
                      scheduledFor: 2024-11-01T10:00:00Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0...
                          platform: twitter
                          username: '@acme'
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                      tags:
                      - launch
                      createdAt: 2024-10-01T12:00:00Z
                      updatedAt: 2024-10-01T12:00:00Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 1
                      pages: 1
                publishedPost:
                  summary: Published post with platformPostUrl
                  value:
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: published
                      scheduledFor: 2024-11-01T10:00:00Z
                      publishedAt: 2024-11-01T10:00:05Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: linkedin
                          username: acme-corporation
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:06Z
                        platformPostId: urn:li:share:7123456789012345678
                        platformPostUrl: https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678
                      tags:
                      - launch
                      createdAt: 2024-10-01T12:00:00Z
                      updatedAt: 2024-11-01T10:00:06Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 1
                      pages: 1
              schema:
                $ref: "#/components/schemas/PostsListResponse"
          description: Paginated posts
        "401":
          $ref: "#/components/responses/Unauthorized"
      summary: List posts
      tags:
      - Posts
      x-accepts:
      - application/json
    post:
      description: |
        Create and optionally publish a post. Immediate posts (publishNow: true) include platformPostUrl in the response.
        Content is optional when media is attached or all platforms have customContent. See each platform's schema for media constraints.
      operationId: createPost
      requestBody:
        content:
          application/json:
            examples:
              recyclingPost:
                summary: Post with weekly recycling and content variations
                value:
                  content: Check out our evergreen guide!
                  platforms:
                  - platform: twitter
                    accountId: 64e1f0a9e2b5af0012ab34cd
                  scheduledFor: 2025-06-01T10:00:00Z
                  recycling:
                    gap: 2
                    gapFreq: week
                    expireCount: 6
                    contentVariations:
                    - Check out our evergreen guide!
                    - Don't miss our essential guide!
                    - "Our most popular guide, updated!"
              tiktokPhotoCarousel:
                summary: TikTok photo carousel with draft mode
                value:
                  content: Check out these photos!
                  mediaItems:
                  - type: image
                    url: https://example.com/photo1.jpg
                  - type: image
                    url: https://example.com/photo2.jpg
                  platforms:
                  - platform: tiktok
                    accountId: 64e1f0a9e2b5af0012ab34cd
                  tiktokSettings:
                    draft: true
                    privacyLevel: PUBLIC_TO_EVERYONE
                    allowComment: true
                    contentPreviewConfirmed: true
                    expressConsentGiven: true
              tiktokVideo:
                summary: TikTok video post (direct publish)
                value:
                  content: New video is live!
                  mediaItems:
                  - type: video
                    url: https://example.com/video.mp4
                  platforms:
                  - platform: tiktok
                    accountId: 64e1f0a9e2b5af0012ab34cd
                  tiktokSettings:
                    privacyLevel: PUBLIC_TO_EVERYONE
                    allowComment: true
                    allowDuet: true
                    allowStitch: true
                    commercialContentType: none
                    contentPreviewConfirmed: true
                    expressConsentGiven: true
              multiPlatform:
                summary: Multi-platform post (Twitter + LinkedIn)
                value:
                  content: We just launched our new product!
                  mediaItems:
                  - type: image
                    url: https://example.com/launch.jpg
                  platforms:
                  - platform: twitter
                    accountId: 64e1f0a9e2b5af0012ab34cd
                  - platform: linkedin
                    accountId: 64e1f0a9e2b5af0012ab34ef
                  scheduledFor: 2024-11-01T10:00:00Z
                  timezone: America/New_York
            schema:
              $ref: "#/components/schemas/createPost_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                scheduled:
                  summary: Scheduled post (URLs populated after publish time)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: scheduled
                      scheduledFor: 2024-11-01T10:00:00Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0...
                          platform: twitter
                          username: '@acme'
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                    message: Post scheduled successfully
                immediatePublish:
                  summary: Immediate post with publishNow=true (URLs included)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: published
                      publishedAt: 2024-11-01T10:00:05Z
                      timezone: UTC
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: linkedin
                          username: acme-corporation
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:06Z
                        platformPostId: urn:li:share:7123456789012345678
                        platformPostUrl: https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678
                    message: Post published successfully
                queueScheduled:
                  summary: Post scheduled via queue (using queuedFromProfile)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      content: Scheduled via queue!
                      status: scheduled
                      scheduledFor: 2024-11-01T09:00:00Z
                      timezone: America/New_York
                      queuedFromProfile: 64f0a1b2c3d4e5f6a7b8c9d0
                      queueId: 64f0a1b2c3d4e5f6a7b8c9d1
                      platforms:
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0...
                          platform: linkedin
                          username: acme-corp
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                    message: Post scheduled successfully
              schema:
                $ref: "#/components/schemas/PostCreateResponse"
          description: Post created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Validation error
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_409_response"
          description: Duplicate content detected
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_429_response"
          description: "Rate limit exceeded. Possible causes: API rate limit, velocity\
            \ limit (15 posts/hour per account), account cooldown, or daily platform\
            \ limits."
          headers:
            Retry-After:
              description: Seconds until the rate limit resets (for API rate limits)
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Limit:
              description: The rate limit ceiling
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Requests remaining in current window
              explode: false
              schema:
                type: integer
              style: simple
      summary: Create post
      tags:
      - Posts
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/{postId}:
    delete:
      description: Delete a draft or scheduled post from Zernio. Published posts cannot
        be deleted; use the Unpublish endpoint instead. Upload quota is automatically
        refunded.
      operationId: deletePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Post deleted successfully
              schema:
                $ref: "#/components/schemas/PostDeleteResponse"
          description: Deleted
        "400":
          description: Cannot delete published posts
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete post
      tags:
      - Posts
      x-accepts:
      - application/json
    get:
      description: |
        Fetch a single post by ID. For published posts, this returns platformPostUrl for each platform.
      operationId: getPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                scheduledPost:
                  summary: Scheduled post (pending)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: scheduled
                      scheduledFor: 2024-11-01T10:00:00Z
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0...
                          platform: twitter
                          username: '@acme'
                          displayName: Acme Corp
                          isActive: true
                        status: pending
                publishedPost:
                  summary: Published post with platformPostUrl
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      title: Launch post
                      content: We just launched!
                      status: published
                      publishedAt: 2024-11-01T10:00:05Z
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: linkedin
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: linkedin
                          username: acme-corporation
                          displayName: Acme Corporation
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:06Z
                        platformPostId: urn:li:share:7123456789012345678
                        platformPostUrl: https://www.linkedin.com/feed/update/urn:li:share:7123456789012345678
                failedPost:
                  summary: Failed post with error details
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      content: This post failed to publish
                      status: failed
                      platforms:
                      - platform: instagram
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: instagram
                          username: acmecorp
                          isActive: false
                        status: failed
                        errorMessage: Instagram access token has expired. Please reconnect
                          your account.
                        errorCategory: auth_expired
                        errorSource: user
                partialPost:
                  summary: Partial success (some platforms failed)
                  value:
                    post:
                      _id: 65f1c0a9e2b5af0012ab34cd
                      content: Launch announcement!
                      status: partial
                      platforms:
                      - platform: twitter
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34de
                          platform: twitter
                          username: '@acmecorp'
                          isActive: true
                        status: published
                        publishedAt: 2024-11-01T10:00:05Z
                        platformPostId: "1852634789012345678"
                        platformPostUrl: https://twitter.com/acmecorp/status/1852634789012345678
                      - platform: threads
                        accountId:
                          _id: 64e1f0a9e2b5af0012ab34ef
                          platform: threads
                          username: acmecorp
                          isActive: true
                        status: failed
                        errorMessage: Post text exceeds the 500 character limit for
                          Threads.
                        errorCategory: user_content
                        errorSource: user
              schema:
                $ref: "#/components/schemas/PostGetResponse"
          description: Post
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Get post
      tags:
      - Posts
      x-accepts:
      - application/json
    put:
      description: |
        Update an existing post. Only draft, scheduled, failed, and partial posts can be edited.
        Published, publishing, and cancelled posts cannot be modified.
      operationId: updatePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              content: Updated content for our launch post!
              scheduledFor: 2024-11-02T14:00:00Z
            schema:
              $ref: "#/components/schemas/updatePost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Post updated successfully
                post:
                  _id: 65f1c0a9e2b5af0012ab34cd
                  content: Updated content for our launch post!
                  status: scheduled
                  scheduledFor: 2024-11-02T14:00:00Z
              schema:
                $ref: "#/components/schemas/PostUpdateResponse"
          description: Post updated
        "207":
          description: Partial publish success
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Update post
      tags:
      - Posts
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/bulk-upload:
    post:
      description: Create multiple posts by uploading a CSV file. Use dryRun=true
        to validate without creating posts.
      operationId: bulkUploadPosts
      parameters:
      - explode: true
        in: query
        name: dryRun
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/bulkUploadPosts_request"
        required: true
      responses:
        "200":
          content:
[...]
