openapi: 3.1.0
info:
  contact:
    email: support@zernio.com
    name: Zernio Support
    url: https://zernio.com
  description: |
    API reference for Zernio. Authenticate with a Bearer API key.
    Base URL: https://zernio.com/api

    Versioning and deprecation: all endpoints are versioned in the URL path
    (current version: /v1). Breaking changes only ship in a new path version;
    existing versions keep working. Deprecated operations are marked
    'deprecated: true' in this spec and announced in the changelog
    (https://zernio.com/changelog) before removal.

    Errors: every 4xx/5xx response is application/json with a machine-readable
    'code' and a human-readable 'error' message (see the ErrorResponse schema).
  termsOfService: https://zernio.com/tos
  title: Zernio API
  version: 1.0.4
  x-logo:
    url: https://zernio.com/icon.png?v=3
  x-long-description: |
    Zernio is the social media API that replaces 16 integrations. Schedule posts, retrieve analytics,
    manage DMs, comments, and reviews across Twitter/X, Instagram, WhatsApp, TikTok, LinkedIn,
    Facebook, YouTube, Threads, Reddit, Pinterest, Bluesky, Telegram, Google Business, Snapchat,
    Discord, and Slack, all from a single REST API. Run paid ads on Meta (Facebook + Instagram), Google,
    TikTok, LinkedIn, Pinterest, X, and OpenAI from the same account.

    Key features: Unified posting to 16 platforms, ads management on 7 ad networks (via /v1/ads), aggregated analytics, unified inbox (DMs, comments, reviews), webhooks, OAuth connect, queue scheduling, and white-label support for agencies managing unlimited accounts.

    Supported posting platforms: Twitter/X, Instagram, WhatsApp, Facebook, LinkedIn, TikTok, YouTube, Pinterest, Reddit, Bluesky, Threads, Google Business, Telegram, Snapchat, Discord, Slack. Supported ad platforms: Meta Ads, Google Ads, TikTok Ads, LinkedIn Ads, Pinterest Ads, X Ads, OpenAI Ads.
  x-category: Social
  x-website: https://zernio.com
  x-thumbnail: https://rapidapi-prod-apis.s3.amazonaws.com/b24d3df5-563c-4a50-9e1e-1ad3eb1fce69.png
  x-version-lifecycle: ACTIVE
  x-badges:
  - name: social media
    value: social media
  - name: scheduling
    value: scheduling
  - name: instagram
    value: instagram
  - name: tiktok
    value: tiktok
  - name: twitter
    value: twitter
  - name: linkedin
    value: linkedin
  - name: facebook
    value: facebook
  - name: youtube
    value: youtube
  - name: social media api
    value: social media api
  - name: posting
    value: posting
servers:
- description: Production
  url: https://zernio.com/api
- description: Local
  url: http://localhost:3000/api
security:
- bearerAuth: []
tags:
- description: |
    Create, schedule, list, update, and delete posts across all connected social accounts.
  name: Posts
- description: |
    Manage blogs and blog articles on connected accounts. Currently supported
    for Shopify accounts (scopes read_content and write_content). Blogs are
    the containers; articles are the posts inside them. All content lives on
    the platform; Zernio proxies it and stores nothing.
  name: Blogs
- description: |
    Read the authenticated user and team members.
  name: Users
- description: |
    Usage and metering. `GET /v1/usage` is dual-mode: bare calls return the
    plan / quota snapshot (back-compat, same as `/v1/usage-stats`); calls
    with `range` / `granularity` params return usage METERING — billed spend
    (USD) by product family (accounts, numbers, calls, sms, dlc, xApi,
    credits) over any window, from Metronome's invoice breakdown (also served
    at `GET /v1/usage/daily`). The `/v1/usage/<domain>` spokes (calls, sms)
    meter per-domain consumption volumes over a window. `GET /v1/billing` is
    the billing statement (balance, credits, caps, payment status).
  name: Usage
- description: |
    Manage profiles (named groups of social accounts).
  name: Profiles
- description: |
    Manage connected social media accounts: list, fetch, update, disconnect, and read account health.
  name: Accounts
- description: |
    Manage account groups (collections of accounts used for cross-posting and organization).
  name: Account Groups
- description: |
    Create, list, and revoke API keys used to authenticate requests.

    Resource groups. A key can opt out of any of the ten groups (publishing, engagement, messages, contacts, analytics, ads, telephony, accounts, billing, webhooks) via `disabledResourceGroups` at creation. Omit the field for a legacy full-access key. A key with any group disabled mints with the `zrk_` prefix, is refused on operations in those groups with 403 `insufficient_permissions` plus `required_group`, and can never manage API keys, invites, connected apps, or member identity. Each operation publishes its group as `x-resource-group`. There is no update endpoint: duplicate the key with different groups and revoke the old one.
  name: API Keys
- description: |
    List and revoke the OAuth clients (AI assistants and MCP connectors) authorized
    on the account.

    Connector tokens resolve against the same resource-group registry as API keys, but there is no way to narrow a connector's groups yet. Treat an authorized connector as full account access and revoke it if that is not what you want.
  name: Connected Apps
- description: |
    Generate invite tokens for adding members to a team.
  name: Invites
- description: |
    OAuth and credential flows for connecting social accounts, plus per-platform selection
    steps (Facebook pages, Pinterest boards, LinkedIn organizations, GMB locations, etc.).
  name: Connect
- description: |
    Upload and presign media (images, videos, documents) for use in posts.
  name: Media
- description: |
    Search Reddit posts and browse subreddit feeds.
  name: Reddit Search
- description: |
    Google Business Profile reviews: list reviews and reply to them.
  name: GMB Reviews
- description: |
    Read and update Google Business Profile food menus.
  name: GMB Food Menus
- description: |
    Read and update Google Business Profile location details.
  name: GMB Location Details
- description: |
    Manage Google Business Profile media (photos and videos): list, upload, and delete.
  name: GMB Media
- description: |
    Read and update Google Business Profile attributes.
  name: GMB Attributes
- description: |
    Manage Google Business Profile place action links (booking, ordering, reservations, etc.).
  name: GMB Place Actions
- description: |
    Discord-specific endpoints for managing webhook identity (display name and avatar), switching channels, and listing guild channels.
  name: Discord
- description: |
    Resolve LinkedIn organization and person mentions for use in posts.
  name: LinkedIn Mentions
- description: |
    Instagram-specific read endpoints: list a connected account's Stories and fetch
    per-Story insights. All endpoints require an accountId parameter identifying the
    Instagram-connected social account.
  name: Instagram
- description: |
    Manage posting-queue time slots and preview the upcoming queue.
  name: Queue
- description: |
    Post and account analytics across platforms (insights, demographics, follower history,
    best time to post, content decay, and aggregated metrics).
  name: Analytics
- description: |
    Check and manage inbox feature access.
  name: Inbox Access
- description: |
    Unified inbox API for managing conversations and direct messages across all connected accounts.
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Messages
- description: |
    Unified inbox API for managing comments on posts across all connected accounts.
    Supports commenting on third-party posts for platforms that allow it (YouTube, Twitter, Reddit, Bluesky, Threads).
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Comments
- description: |
    Unified inbox API for managing reviews on Facebook Pages and Google Business accounts.
    All endpoints aggregate data from multiple social accounts in a single API call.
    Requires Inbox addon.
  name: Reviews
- description: |
    Unified inbox API for managing mentions across connected accounts.
    Currently supports LinkedIn organization mentions.
    Requires Inbox addon.
  name: Mentions
- description: |
    X/Twitter-specific engagement endpoints for retweeting, bookmarking, and following.
    Rate limits: 50 requests per 15-min window per user. Retweets share the 300/3hr creation limit with tweet creation.
  name: Twitter Engagement
- description: |
    Pre-flight validation endpoints. Check post content, character limits, media URLs, and subreddit existence before publishing.
  name: Validate
- description: |
    Platform-specific account settings: Facebook persistent menu, Instagram ice breakers, and Telegram bot commands.
  name: Account Settings
- description: |
    Cross-platform contact management (CRM). Contacts are unified identities linked to platform-specific
    channels (phone, IGSID, etc.). Created automatically when messages arrive, or manually via API.
  name: Contacts
- description: |
    Custom field definitions for contacts. Define fields (text, number, date, boolean, select) that can be
    set on any contact for segmentation and personalization.
  name: Custom Fields
- description: |
    Platform-agnostic broadcast campaigns. Send bulk messages to contacts via any inbox platform.
    WhatsApp broadcasts use templates; other platforms use generic messages.
  name: Broadcasts
- description: |
    Drip campaign sequences. Send a series of messages to enrolled contacts with configurable delays
    between steps. Supports auto-exit on reply or unsubscribe.
  name: Sequences
- description: |
    Branching conversation automations. An inbound message matches a workflow's trigger and walks a
    directed graph of nodes (send message, wait for reply, condition, set variable, delay, webhook,
    handoff, end). Unlike Sequences (linear, time-based drips), Workflows are event-driven and
    interactive. Fully supported on WhatsApp, Instagram, and Messenger; `send_message` template and
    interactive modes are WhatsApp-only.
  name: Workflows
- description: |
    Comment-to-DM growth automations. Set up keyword triggers on Instagram/Facebook so
    commenters automatically receive a DM. Scope per post or account-wide (omit
    `platformPostId` to match comments on every post on the account, with unlimited
    automations stacked per account). Supports dedup, optional public comment reply, and
    auto-creates contacts.
  name: Comment Automations
- description: |
    The advertising structure: campaigns, ad sets, and ads. Create standalone campaigns/ads, boost an
    organic post, duplicate at any level, pause/resume, and read the full tree and timeline. Campaigns
    are virtual aggregations of ads grouped by their platform campaign ID.
    Per-operation platform support is shown by the platform badges. Requires the Ads add-on.
  name: Ad Campaigns
- description: |
    Creative assets: the standalone creative library (create/reuse/rename), the ad-account image library
    (list + base64 upload), rendered ad previews, and product catalogs for Advantage+/dynamic ads. Meta only.
    Requires the Ads add-on.
  name: Ad Creatives
- description: |
    Custom audiences for targeting: customer lists (hashed upload), website + engagement + lookalike
    audiences, and reusable saved-targeting presets. Creation support varies by platform (badges show which);
    LinkedIn adds company-list and engagement segments.
    Requires the Ads add-on.
  name: Ad Audiences
- description: |
    Targeting discovery: search interests/behaviors/geo/demographics, estimate reach, and (LinkedIn)
    bid pricing and supply forecasts. Feeds the targeting fields on create.
    Requires the Ads add-on.
  name: Ad Targeting
- description: |
    Measurement: cached aggregate analytics per ad/campaign, plus live Meta Graph insight queries
    (arbitrary fields, breakdowns, filtering, attribution windows) and async report runs.
    Requires the Ads add-on.
  name: Ad Insights
- description: |
    Server-side Conversions API: send + adjust conversion events (with hashed matching and consent/LDU
    forwarding), read Event Match Quality, and manage conversion destinations (pixels/datasets) and their
    ad-account associations. Supported on Meta, Google, TikTok and LinkedIn (badges show per operation).
    Requires the Ads add-on.
  name: Conversions
- description: |
    Click-to-message and click-to-call destination ads: WhatsApp (CTWA), Messenger, Instagram Direct,
    and Call ads. Meta only.
    Requires the Ads add-on.
  name: Messaging Ads
- description: |
    Fixed-price reserved (Reach & Frequency) buying: quote a prediction, reserve price + inventory, and
    buy via a RESERVED campaign. Meta only.
    Requires the Ads add-on.
  name: Reach and Frequency
- description: |
    Instant lead forms on Facebook Pages: create/list/archive forms and retrieve (or test) their leads.
    Meta only.
    Requires the Ads add-on.
  name: Lead Gen
- description: |
    Ad accounts and operational/diagnostic reads: list accounts, account finances, change/audit log,
    A/B studies, high-demand periods, ad labels, DSA defaults + recommendations, and Business Managers
    (Meta) / Business Centers (TikTok).
    Requires the Ads add-on.
  name: Ad Accounts
- description: |
    Manage the platform measurement tag — the thing you create, install on a website, send events to,
    and target ads against. On Meta this is a Pixel; the surface is platform-neutral so other platforms
    (Pinterest Tag, LinkedIn Insight Tag, etc.) can be added without changing the contract. Create a tag,
    get it (including the install code snippet), rename + adjust matching/cookie/data-use settings, share
    it with ad accounts, and read aggregated event stats. Currently Meta-only.
    Requires the Ads add-on.
  name: Tracking Tags
- description: |
    Configure webhooks for real-time notifications. Webhooks can be created from the dashboard (Settings → Webhooks) or via this API.
    Events: post.scheduled, post.published, post.failed, post.partial, post.cancelled, post.recycled, post.platform.published, post.platform.failed, post.platform.deleted, post.tiktok.url_resolved, post.external.created, post.external.updated, post.external.deleted, account.connected, account.disconnected, account.ads.initial_sync_completed, message.received, conversation.started, call.received, call.ended, call.failed, call.permission_request, message.sent, message.edited, message.deleted, message.delivered, message.read, message.failed, reaction.received, referral.received, comment.received, review.new, review.updated, lead.received, ad.status_changed, whatsapp.template.status_updated, whatsapp.template.category_updated, whatsapp.account.name_status_updated, whatsapp.automatic_event, whatsapp.number.activated, whatsapp.number.declined, whatsapp.number.action_required, whatsapp.number.verification_required, whatsapp.number.suspended, whatsapp.number.reactivated, whatsapp.number.released, whatsapp.number.kyc_submitted, verification.approved, verification.failed, webhook.test.
    Security: optional HMAC-SHA256 signature in X-Zernio-Signature header. Configure a secret key to enable verification. Custom headers supported.

    Resource groups. Every event belongs to one group: post.* to publishing, message.*, reaction.*, conversation.*, call.* and whatsapp.automatic_event to messages, comment.* and review.* to engagement, lead.* to contacts, ad.* to ads, account.*, whatsapp.template.* and whatsapp.account.* to accounts, whatsapp.number.* and verification.* to telephony, webhook.test to webhooks. Two independent controls use that mapping. (1) A restricted (zrk_) API key can only subscribe to, test-fire, redeliver, or read delivery logs for events in the groups it holds, so it can never create a subscription broader than itself. (2) Each subscription carries its own `disabledResourceGroups` denylist: events in a disabled group are dropped before delivery to that endpoint, on live delivery and on every replay path, no matter which key or session created the subscription. Changing that denylist applies to every event emitted after the change; events already queued when it landed can still be delivered for up to five minutes after they were enqueued, because the delivery worker trusts a five-minute enqueue-time snapshot before re-checking. Absent or empty on a subscription means it receives everything it subscribes to, which is the behavior of every subscription created before the field existed.
  name: Webhooks
- description: |
    Incoming webhook deliveries sent by Zernio to your configured endpoint URL.
  name: Webhook Events
- description: |
    Publishing logs for transparency and debugging. Each log includes the platform API endpoint, HTTP status code, request/response bodies, duration, and retry attempts. Logs are automatically deleted after 7 days.
  name: Logs
- description: |
    WhatsApp Business API. Template, business profile, and phone number endpoints.
    All endpoints require an accountId parameter identifying the WhatsApp-connected social account.
  name: WhatsApp
- description: |
    Voice calling over the WhatsApp Business API: enable/disable calling on a number,
    configure call hours and permissions, and place or list calls.
    All endpoints require an accountId parameter identifying the WhatsApp-connected social account.
  name: WhatsApp Calling
- description: |
    Browse Meta's pre-approved WhatsApp template library. Use these read-only lookups to
    discover library templates you can import as your own message templates.
    All endpoints require an accountId parameter identifying the WhatsApp-connected social account.
  name: WhatsApp Templates
- description: |
    WhatsApp Flows let you build native interactive forms, surveys, and booking experiences inside WhatsApp.
    Flows are created in DRAFT status, populated with a Flow JSON definition, then published for sending.
    Published flows are immutable; to update, create a new flow (optionally cloning the old one).
    All endpoints require an accountId parameter identifying the WhatsApp-connected social account.
  name: WhatsApp Flows
- description: |
    Buy and manage phone numbers. A phone number is a platform-independent unit;
    WhatsApp, SMS, and Voice are features you enable on it. Purchase, search
    inventory, complete country KYC, and release numbers here; turn features on
    via the per-number sub-resources (`/v1/phone-numbers/{id}/voice`, `/sms`,
    `/whatsapp/...`). Requires a paid plan.
  name: Phone Numbers
- description: |
    Managed one-time passcodes (OTP) for phone verification. Two calls
    handle the whole lifecycle: create a verification (we generate the
    code, deliver it by SMS from a phone number on your account, and store
    only its hash) and check the code the user typed. Usage-based billing
    only.
  name: Verify
- description: |
    Deprecated namespace: phone numbers moved to `/v1/phone-numbers` (a number is
    platform-independent; WhatsApp is one feature on it). These aliases keep
    working with the same contracts, but new integrations should use the
    Phone Numbers endpoints.
  name: WhatsApp Phone Numbers
- description: |
    Shared WhatsApp sandbox: a Zernio-owned WhatsApp number every user can test against
    without provisioning their own. Send the verified sandbox template to phones you
    activate via a reply-based verification flow. Designed for testing message flows,
    bot replies, and webhook payloads end-to-end with zero number-purchase overhead.
  name: WhatsApp Sandbox
- description: |
    Unified call history across every number you own: WhatsApp Business Calling and
    regular phone (PSTN) calls in one list, newest first, without fanning out one
    request per number. Each row carries `channel` and `accountId` so you can fetch
    details and recordings from the matching channel-specific endpoint.
    Private beta: returns 403 unless your account is enrolled.
  name: Calls
- description: |
    Regular phone (PSTN) calling on your numbers. Enable voice on a number and route
    inbound calls to your own AI voice agent (Vapi/Retell), a phone, or a SIP endpoint,
    with voicemail, business-hours routing, IVR, recording, and transcription. Place
    outbound calls, manage live ones (end, blind-transfer), resolve recordings, and
    drive the browser softphone.
    Private beta: returns 403 unless your account is enrolled.
  name: Voice
- description: |
    SMS/MMS on your numbers: enable SMS on a number, send messages, validate recipient
    numbers, export STOP opt-outs, and complete the US carrier registration (10DLC or
    toll-free) required before US traffic delivers.
    Private beta: returns 404 unless your account is enrolled.
  name: SMS
paths:
  /v1/tools/validate/post-length:
    post:
      description: |
        Check weighted character count per platform and whether the text is within each platform's limit.

        Twitter/X uses weighted counting (URLs = 23 chars via t.co, emojis = 2 chars). All other platforms use plain character length.

        Returns counts and limits for all 15 supported platform variants.
      operationId: validatePostLength
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validatePostLength_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePostLength_200_response"
          description: Character counts per platform
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
      - bearerAuth: []
      summary: Validate character count
      tags:
      - Validate
      x-resource-group: publishing
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/post:
    post:
      description: |
        Dry-run the full post validation pipeline without publishing. Catches issues like missing media for Instagram/TikTok/YouTube, hashtag limits, invalid thread formats, Facebook Reel requirements, and character limit violations.

        Accepts the same body as POST /v1/posts. Does NOT validate accounts, process media, or track usage. Account lookups are limit-only: a twitter accountId is resolved, scoped to the caller, only to pick the 280 vs 25000 character limit. Missing, foreign, or invalid ids fall back to 280 and never error.

        Returns errors for failures and warnings for near-limit content (>90% of character limit).
      operationId: validatePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validatePost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePost_200_response"
          description: Validation result
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
      - bearerAuth: []
      summary: Validate post content
      tags:
      - Validate
      x-resource-group: publishing
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/media:
    post:
      description: |
        Check if a media URL is accessible and return metadata (content type, file size) plus per-platform size limit comparisons.

        Performs a HEAD request (with GET fallback) to detect content type and size. Rejects private/localhost URLs for SSRF protection.

        Platform limits are sourced from each platform's actual upload constraints.
      operationId: validateMedia
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validateMedia_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateMedia_200_response"
          description: Media validation result
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
      - bearerAuth: []
      summary: Validate media URL
      tags:
      - Validate
      x-resource-group: publishing
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/subreddit:
    get:
      description: |
        Check if a subreddit exists and return basic info (title, subscriber count, NSFW status, post types allowed).

        When accountId is provided, uses authenticated Reddit OAuth API with automatic token refresh (recommended). Falls back to Reddit's public JSON API, which may be unreliable from server IPs. Returns exists: false for private, banned, or nonexistent subreddits.
      operationId: validateSubreddit
      parameters:
      - description: Subreddit name (with or without "r/" prefix)
        explode: true
        in: query
        name: name
        required: true
        schema:
          example: programming
          type: string
        style: form
      - description: Reddit social account ID for authenticated lookup (recommended
          for reliable results)
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateSubreddit_200_response"
          description: Subreddit lookup result
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
      - bearerAuth: []
      summary: Check subreddit existence
      tags:
      - Validate
      x-resource-group: publishing
      x-accepts:
      - application/json
  /v1/analytics:
    get:
      description: |
        Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats.
        Accepts both Zernio Post IDs and External Post IDs (auto-resolved). fromDate defaults to 90 days ago if omitted, max range 366 days.
        Single post lookups may return 202 (sync pending) or 424 (all platforms failed). For follower stats, use /v1/accounts/follower-stats.

        LinkedIn personal accounts: Analytics are only available for posts published through Zernio. LinkedIn's API only returns metrics for posts authored by the authenticated user. Organization/company page analytics work for all posts.
      operationId: getAnalytics
      parameters:
      - description: Returns analytics for a single post. Accepts both Zernio Post
          IDs and External Post IDs. Zernio IDs are auto-resolved to External Post
          analytics.
        explode: true
        in: query
        name: postId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by platform (default "all")
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Filter by profile ID (default "all")
        explode: true
        in: query
        name: profileId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by social account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by post source: late (posted via Zernio API), external\
          \ (synced from platform), all (default)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - late
          - external
          type: string
        style: form
      - description: Inclusive lower bound (YYYY-MM-DD). Defaults to 90 days ago if
          omitted. Max range is 366 days.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Inclusive upper bound (YYYY-MM-DD). Defaults to today if omitted.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Page size (default 50)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Page number (default 1)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: "Sort by date, engagement, or a specific metric"
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: date
          enum:
          - date
          - engagement
          - impressions
          - reach
          - likes
          - comments
          - shares
          - saves
          - clicks
          - views
          - follows
          type: string
        style: form
      - description: Sort order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                singlePost:
                  summary: Single post analytics (Zernio post with synced analytics)
                  value:
                    postId: 65f1c0a9e2b5af0012ab34cd
                    latePostId: null
                    status: published
                    content: Check out our new product launch!
                    scheduledFor: 2024-11-01T10:00:00Z
                    publishedAt: 2024-11-01T10:00:05Z
                    analytics:
                      impressions: 15420
                      reach: 12350
                      likes: 342
                      comments: 28
                      shares: 45
                      saves: 0
                      clicks: 189
                      views: 0
                      engagementRate: 2.78
                      lastUpdated: 2024-11-02T08:30:00Z
                    platformAnalytics:
                    - platform: twitter
                      status: published
                      platformPostId: "123456789"
                      accountId: 64e1f0a9e2b5af0012ab34cd
                      accountUsername: '@acmecorp'
                      analytics:
                        impressions: 15420
                        reach: 12350
                        likes: 342
                        comments: 28
                        shares: 45
                        saves: 0
                        clicks: 189
                        views: 0
                        engagementRate: 2.78
                        lastUpdated: 2024-11-02T08:30:00Z
                      syncStatus: synced
                      platformPostUrl: https://twitter.com/acmecorp/status/123456789
                      errorMessage: null
                    platform: twitter
                    platformPostUrl: https://twitter.com/acmecorp/status/123456789
                    isExternal: false
                    syncStatus: synced
                    message: null
                    thumbnailUrl: https://storage.example.com/image.jpg
                    mediaType: image
                    mediaItems:
                    - type: image
                      url: https://storage.example.com/image.jpg
                      thumbnail: https://storage.example.com/image.jpg
                postList:
                  description: |
                    Note: The list endpoint returns External Post IDs. Posts originally
                    scheduled via Zernio will have isExternal: true in this response.
                    Use platformPostUrl to correlate with your original Zernio Post IDs.
                  summary: Paginated analytics list
                  value:
                    overview:
                      totalPosts: 156
                      publishedPosts: 156
                      scheduledPosts: 0
                      lastSync: 2024-11-02T08:30:00Z
                      dataStaleness:
                        staleAccountCount: 0
                        syncTriggered: false
                    posts:
                    - _id: 65f1c0a9e2b5af0012ab34cd
                      latePostId: 65f1c0a9e2b5af0012ab34ab
                      content: Check out our new product launch!
                      scheduledFor: 2024-11-01T10:00:00Z
                      publishedAt: 2024-11-01T10:00:05Z
                      status: published
                      analytics:
                        impressions: 15420
                        reach: 12350
                        likes: 342
                        comments: 28
                        shares: 45
                        saves: 0
                        clicks: 189
                        views: 0
                        engagementRate: 2.78
                        lastUpdated: 2024-11-02T08:30:00Z
                      platforms:
                      - platform: instagram
                        status: published
                        platformPostId: "17902345678901234"
                        accountId: 64e1f0a9e2b5af0012ab34cd
                        accountUsername: '@acmecorp'
                        analytics:
                          impressions: 15420
                          reach: 12350
                          likes: 342
                          comments: 28
                          shares: 45
                          saves: 0
                          clicks: 189
                          views: 0
                          engagementRate: 2.78
                          lastUpdated: 2024-11-02T08:30:00Z
                        syncStatus: synced
                        platformPostUrl: https://www.instagram.com/reel/ABC123xyz/
                        errorMessage: null
                      platform: instagram
                      platformPostUrl: https://www.instagram.com/reel/ABC123xyz/
                      isExternal: true
                      profileId: 64e1f0a9e2b5af0012ab34cd
                      thumbnailUrl: https://storage.example.com/thumb.jpg
                      mediaType: carousel
                      mediaItems:
                      - type: image
                        url: https://storage.example.com/slide1.jpg
                        thumbnail: https://storage.example.com/slide1.jpg
                      - type: image
                        url: https://storage.example.com/slide2.jpg
                        thumbnail: https://storage.example.com/slide2.jpg
                    pagination:
                      page: 1
                      limit: 50
                      total: 156
                      pages: 4
                    accounts:
                    - _id: 64e1f0...
                      platform: twitter
                      username: '@acmecorp'
                      displayName: Acme Corp
                      isActive: true
                    hasAnalyticsAccess: true
              schema:
                $ref: "#/components/schemas/getAnalytics_200_response"
          description: Analytics result
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSinglePostResponse"
          description: Analytics are being synced from the platform (single post lookup
            only). The response body matches AnalyticsSinglePostResponse with syncStatus
            "pending" and a message.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_400_response"
          description: Validation error
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "404":
          $ref: "#/components/responses/NotFound"
        "424":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSinglePostResponse"
          description: Post failed to publish on all platforms. Analytics are unavailable.
            (single post lookup only)
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      summary: Get post analytics
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/youtube/channel-insights:
    get:
      description: |
        Returns channel-scoped aggregate metrics from YouTube Analytics API v2. Saves you
        from looping /v1/analytics/youtube/daily-views over every video when you only need
        channel totals.

        Response shape matches /v1/analytics/instagram/account-insights so the same client
        handling works. Requires yt-analytics.readonly scope (412 with reauthorizeUrl if
        missing). Data has a 2-3 day delay (endDate is clamped accordingly). Max 89 days,
        defaults to last 30 days. Requires the Analytics add-on.

        NOT exposed: impressions (Studio thumbnail impressions) and impressionsClickThroughRate.
        YouTube Analytics API v2 does not expose these for any principal type, not channel
        owners, not Partner Program channels, not content owners with CMS access. The only way
        to get them is Studio CSV export. This is a Google-side limitation.
      operationId: getYouTubeChannelInsights
      parameters:
      - description: The Zernio SocialAccount ID for the YouTube account.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list. Defaults to "views,estimatedMinutesWatched,subscribersGained,subscribersLost".

          Live YouTube Analytics v2 metrics:
            - views
            - estimatedMinutesWatched
            - averageViewDuration          (ratio - weighted mean computed across days)
            - subscribersGained
            - subscribersLost

          Zernio-synthesized from daily follower snapshots (cross-platform parity):
            - followers_gained
            - followers_lost
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          End date (YYYY-MM-DD). Defaults to today. YouTube Analytics has a 2-3 day delay,
          so the fetch is internally clamped to 3 days ago; any requested range extending
          beyond that returns zero values for the tail days. The response's dateRange.until
          field reflects your requested value.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          "total_value" (default) returns aggregated totals.
          "time_series" returns per-day values in the "values" array.
        explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Channel insights data
        "400":
          description: "Bad request (invalid accountId / metrics / metricType / date\
            \ range, or account is not a YouTube account)"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "404":
          description: Account not found
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouTubeScopeMissingResponse"
          description: Missing YouTube Analytics scope
      summary: Get YouTube channel insights
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/linkedin/org-aggregate-analytics:
    get:
      description: |
        Returns aggregate analytics for a LinkedIn organization page. Parallel to
        /v1/accounts/{id}/linkedin-aggregate-analytics (which handles personal accounts only).
        Backed by LinkedIn's organizationalEntityShareStatistics,
        organizationalEntityFollowerStatistics, and organizationPageStatistics endpoints.

        Response shape matches /v1/analytics/instagram/account-insights. Max 89 days,
        defaults to last 30 days. Requires the Analytics add-on.

        Scope requirements: r_organization_social, r_organization_followers, and
        r_organization_admin must all be present on the account. Accounts connected before
        these scopes were included in the OAuth flow will return 412 with a reauth hint.

        Enforced by this endpoint:
          - Page-view metrics accept only metricType=total_value (LinkedIn omits per-day
            segmentation even when the API is called with DAY granularity, so a time-series
            response would be meaningless).
          - Date range capped at 89 days.

        LinkedIn-side platform limits (not re-enforced here, but worth knowing for larger
        ranges in a future release):
          - Follower stats: rolling 12-month window, end must be no later than 2 days ago.
          - Share stats: rolling 12-month window.
      operationId: getLinkedInOrgAggregateAnalytics
      parameters:
      - description: The Zernio SocialAccount ID for the LinkedIn organization account.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list. Defaults to
          "impressions,clicks,engagement_rate,organic_followers_gained,followers_gained,followers_lost".

          Share statistics (support both total_value and time_series):
            - impressions
            - unique_impressions
            - clicks
            - likes
            - comments
            - shares
            - engagement_rate       (0..1, LinkedIn-computed)

          Follower-gain statistics (support total_value and time_series):
            - organic_followers_gained   (per-day organic gains for time_series; sum of organic gains over the range for total_value)
            - paid_followers_gained      (per-day paid gains for time_series; sum of paid gains over the range for total_value)

          Page-view statistics (total_value ONLY - LinkedIn platform limit):
            - page_views_total
            - page_views_overview
            - page_views_careers
            - page_views_jobs
            - page_views_life

          Zernio-synthesized from daily follower snapshots:
            - followers_gained
            - followers_lost
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to today.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Organization analytics data
        "400":
          description: |
            Bad request. Common cases:
              - Account is a personal LinkedIn account, not organization (code personal_account_not_supported, use /v1/accounts/{id}/linkedin-aggregate-analytics instead)
              - Invalid metric name, metricType, or date range
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "403":
          description: |
            Platform error. The authenticated member lacks the required
            ADMINISTRATOR role on the organization. LinkedIn enforces admin-only
            access for all three org statistics endpoints. The error envelope is
            type platform_error, and the raw LinkedIn error is echoed in the
            platformError field.
        "404":
          description: Account not found
        "412":
          description: Missing LinkedIn organization analytics scopes (r_organization_social
            + r_organization_followers + r_organization_admin)
      summary: Get LinkedIn org analytics
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/tiktok/account-insights:
    get:
      description: |
        Returns account-level TikTok insights from /v2/user/info/ (live) plus historical
        time series joined from Zernio's daily snapshotter (AccountStats).

        Response shape matches /v1/analytics/instagram/account-insights. Max 89 days,
        defaults to last 30 days. Requires the Analytics add-on and the user.info.stats
        scope on the account (412 if missing).

        Scope intentionally narrow. TikTok's public API exposes only the four counter
        metrics below. The deep metrics that live in TikTok Studio are NOT available on any
        public TikTok API, even for Business accounts:
          - profile_views
          - account-level impressions / reach
          - follower inflow / outflow breakdown
          - video watch time, average watch time, full-watched rate
          - impression_sources (FYP / Following / Hashtag / Search / Personal profile)

        TikTok's Research API doesn't expose those fields either, and is restricted to
        non-commercial academic use per TikTok's eligibility policy. There is no public
        API workaround. Post-level metrics (views, likes, comments, shares per video) are
        available via /v1/analytics?postId=... from TikTok's /v2/video/query/.
      operationId: getTikTokAccountInsights
      parameters:
      - description: The Zernio SocialAccount ID for the TikTok account.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list. Defaults to
          "follower_count,likes_count,video_count,followers_gained,followers_lost".

          Live from /v2/user/info/ (requires user.info.stats scope):
            - follower_count  (cumulative; time series joined from AccountStats)
            - following_count (cumulative; time series joined from AccountStats.metadata)
            - likes_count     (cumulative; time series joined from AccountStats.metadata)
            - video_count     (cumulative; time series joined from AccountStats.metadata)

          Zernio-synthesized:
            - followers_gained  (sum of positive daily follower deltas)
            - followers_lost    (sum of absolute negative daily deltas)
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to today.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          "total_value" returns the latest cumulative counter value.
          "time_series" returns daily values joined from AccountStats snapshots.
        explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Account insights data
        "400":
          description: "Bad request (invalid accountId / metrics / metricType / date\
            \ range, or account is not a TikTok account)"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "404":
          description: Account not found
        "412":
          description: Missing user.info.stats scope
      summary: Get TikTok account-level insights
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/youtube/daily-views:
    get:
      description: |
        Returns daily view counts for a YouTube video including views, watch time, and subscriber changes.
        Requires yt-analytics.readonly scope (re-authorization may be needed). YouTube finalizes analytics
        with a ~3-day delay; by default only finalized days are returned, and an explicit endDate can reach
        into the delay window (see the endDate parameter). Max 90 days, defaults to last 30 days.
      operationId: getYouTubeDailyViews
      parameters:
      - description: "The YouTube video ID (e.g., \"dQw4w9WgXcQ\")"
        explode: true
        in: query
        name: videoId
        required: true
        schema:
          type: string
        style: form
      - description: The Zernio account ID for the YouTube account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          End date (YYYY-MM-DD). Defaults to 3 days ago, the newest fully finalized day
          (YouTube finalizes analytics with a ~3-day delay). An explicit endDate is honored
          up to today: days inside the delay window are provisional and may still be revised
          by YouTube (see provisionalSince in the response), and days YouTube has not
          processed yet are omitted from dailyViews.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  summary: Successful response with daily views
                  value:
                    success: true
                    videoId: dQw4w9WgXcQ
                    durationSeconds: 213
                    dateRange:
                      startDate: 2025-01-01
                      endDate: 2025-01-12
                    totalViews: 12345
                    dailyViews:
                    - date: 2025-01-12
                      views: 1234
                      estimatedMinutesWatched: 567.5
                      averageViewDuration: 45.2
                      averageViewPercentage: 21.2
                      subscribersGained: 10
                      subscribersLost: 2
                      likes: 89
                      comments: 12
                      shares: 5
                    - date: 2025-01-11
                      views: 987
                      estimatedMinutesWatched: 432.1
                      averageViewDuration: 43.8
                      averageViewPercentage: 20.6
                      subscribersGained: 8
                      subscribersLost: 1
                      likes: 67
                      comments: 8
                      shares: 3
                    lastSyncedAt: 2025-01-15T12:00:00Z
                    scopeStatus:
                      hasAnalyticsScope: true
              schema:
                $ref: "#/components/schemas/YouTubeDailyViewsResponse"
          description: Daily views breakdown
        "400":
          content:
            application/json:
              examples:
                missingVideoId:
                  value:
                    error: videoId is required
                invalidDate:
                  value:
                    error: Invalid startDate format. Use YYYY-MM-DD.
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (missing or invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "412":
          content:
            application/json:
              examples:
                scopeMissing:
                  summary: YouTube Analytics scope not granted
                  value:
                    success: false
                    error: "To access daily video analytics, please reconnect your\
                      \ YouTube account to grant the required permissions."
                    code: youtube_analytics_scope_missing
                    scopeStatus:
                      hasAnalyticsScope: false
                      requiresReauthorization: true
                      reauthorizeUrl: https://accounts.google.com/o/oauth2/auth?client_id=...
              schema:
                $ref: "#/components/schemas/YouTubeScopeMissingResponse"
          description: Missing YouTube Analytics scope
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_500_response"
          description: Internal server error
      summary: Get YouTube daily views
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/youtube/video-retention:
    get:
      description: |
        Returns the audience retention curve for a single YouTube video, plus the video's
        duration for rendering the curve on a time axis. The curve has up to 100 points
        (elapsedVideoTimeRatio 0.01-1.0) aggregated over the whole date range; YouTube does
        not support per-day retention breakdowns.

        audienceWatchRatio is the absolute share of viewers watching at that point in the
        video and can exceed 1 (rewinds and looping, common on Shorts). relativeRetentionPerformance
        compares against videos of similar length (0 = worst, 0.5 = median, 1 = best).
        YouTube returns an empty curve for videos with very few views or before analytics
        processing completes (2-3 day delay).

        Requires yt-analytics.readonly scope (re-authorization may be needed).
      operationId: getYouTubeVideoRetention
      parameters:
      - description: "The YouTube video ID (e.g., \"dQw4w9WgXcQ\")"
        explode: true
        in: query
        name: videoId
        required: true
        schema:
          type: string
        style: form
      - description: The Zernio account ID for the YouTube account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to the video's publish date
          (lifetime curve).
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          End date (YYYY-MM-DD). Defaults to 3 days ago, the newest fully finalized day
          (YouTube finalizes analytics with a ~3-day delay). An explicit endDate is honored
          up to today: days inside the delay window are provisional and may still be revised
          by YouTube (see provisionalSince in the response).
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  summary: Successful response with retention curve
                  value:
                    success: true
                    accountId: 65f1a2b3c4d5e6f7a8b9c0d1
                    videoId: zF7Gp4jnDa0
                    title: what's your choice?
                    publishedAt: 2026-05-20T12:00:00Z
                    durationSeconds: 24
                    dateRange:
                      startDate: 2026-05-20
                      endDate: 2026-06-09
                    retentionCurve:
                    - elapsedVideoTimeRatio: 0.01
                      audienceWatchRatio: 1.6956
                      relativeRetentionPerformance: 0.73665
                      startedWatching: 280331
                      stoppedWatching: 5348
                      totalSegmentImpressions: 478466
                    - elapsedVideoTimeRatio: 0.02
                      audienceWatchRatio: 1.678
                      relativeRetentionPerformance: 0.73865
                      startedWatching: 385
                      stoppedWatching: 11790
                      totalSegmentImpressions: 473492
                    scopeStatus:
                      hasAnalyticsScope: true
              schema:
                $ref: "#/components/schemas/YouTubeVideoRetentionResponse"
          description: Audience retention curve
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (missing or invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeVideoRetention_404_response"
          description: "Video not found, or it does not belong to this YouTube channel"
        "412":
          content:
            application/json:
              examples:
                scopeMissing:
                  summary: YouTube Analytics scope not granted
                  value:
                    success: false
                    error: "To access video retention analytics, please reconnect\
                      \ your YouTube account to grant the required permissions."
                    code: youtube_analytics_scope_missing
                    scopeStatus:
                      hasAnalyticsScope: false
                      requiresReauthorization: true
                      reauthorizeUrl: https://accounts.google.com/o/oauth2/auth?client_id=...
              schema:
                $ref: "#/components/schemas/YouTubeScopeMissingResponse"
          description: Missing YouTube Analytics scope
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_500_response"
          description: Internal server error
      summary: Get YouTube video retention curve
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/facebook/page-insights:
    get:
      description: |
        Returns page-level Facebook insights (media views, views, post engagements, video metrics,
        follower counts). Response shape matches /v1/analytics/instagram/account-insights so the
        same client handling works across platforms.

        Metric names track the current (post-November 2025) Meta Graph API. The legacy
        page_impressions / page_fans / page_fan_adds / page_fan_removes metrics were deprecated
        by Meta on November 15, 2025 and are NOT accepted by this endpoint. Use the replacements
        below. Because Meta did not provide direct adds/removes replacements, Zernio synthesizes
        followers_gained / followers_lost from the daily follower snapshotter.

        Max 89 days, defaults to last 30 days. Requires the Analytics add-on.
      operationId: getFacebookPageInsights
      parameters:
      - description: The Zernio SocialAccount ID for the connected Facebook Page.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of metrics. Defaults to
          "page_media_view,page_post_engagements,page_follows,followers_gained,followers_lost".

          Live Meta metrics (current names, post-Nov-2025):
            - page_media_view       (replaces deprecated page_impressions)
            - page_views_total
            - page_post_engagements
            - page_video_views
            - page_video_view_time
            - page_follows          (replaces deprecated page_fans)

          Zernio-synthesized from daily follower snapshots (filling the Nov-2025 gap
          left by the page_fan_adds / page_fan_removes deprecation):
            - followers_gained
            - followers_lost

          Monetization (opt-in, not in the defaults):
            - content_monetization_earnings
            - monetization_approximate_earnings

          Each monetization metric is fetched with its own separate Graph call, so requesting both
          adds two calls. Values are approximate and Meta restates them after the fact.

          content_monetization_earnings returns an object per day and always carries unit
          "micro_amount" plus an ISO 4217 "currency". monetization_approximate_earnings returns a bare
          number per day, so its unit is always "unspecified" and its "currency" is always null. The two
          are on different scales and are not comparable to each other. Both keep their daily "values"
          on every metricType and are never rescaled by Zernio.

          Earnings here are Page-level daily buckets and "total" is their sum. Meta does not
          document whether a bucket carries that day's earnings or a running total, and every
          Page measured so far earned exactly 0, so reconcile "total" against the Page's own Meta
          export before relying on it; the daily "values" are always returned for that purpose.
          Per-post lifetime earnings are served by GET /v1/analytics/facebook/post-earnings.

          A Page that is not enrolled in monetization, or that earned nothing, returns normal daily
          buckets of 0 in "metrics": Meta does not distinguish the two, so a 0 total here does NOT mean
          the Page is enrolled. "unavailableMetrics" covers the narrower case where Meta returned no
          bucket for the metric at all ("no_data") or rejected the request outright, and the metric is
          then omitted from "metrics" rather than reported as 0.
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to today.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          "total_value" (default) returns aggregated totals only.
          "time_series" returns daily values in the "values" array.
        explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                timeSeries:
                  summary: Time series with computed follower deltas
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: facebook
                    dateRange:
                      since: 2026-03-01
                      until: 2026-03-22
                    metricType: time_series
                    metrics:
                      page_media_view:
                        total: 125000
                        values:
                        - date: 2026-03-01
                          value: 5400
                        - date: 2026-03-02
                          value: 4820
                      followers_gained:
                        total: 142
                        values:
                        - date: 2026-03-01
                          value: 7
                        - date: 2026-03-02
                          value: 5
                      followers_lost:
                        total: 23
                        values:
                        - date: 2026-03-01
                          value: 1
                        - date: 2026-03-02
                          value: 0
                    dataDelay: Meta page insights may be delayed up to 24 hours. Metrics
                      reflect the current (post-November 2025) Graph API names. Monetization
                      earnings are approximate and Meta restates them after the fact.
                monetization:
                  summary: "Both monetization metrics, each at its own scale"
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: facebook
                    dateRange:
                      since: 2026-06-01
                      until: 2026-06-30
                    metricType: total_value
                    metrics:
                      page_media_view:
                        total: 125000
                      content_monetization_earnings:
                        total: 1234000000
                        unit: micro_amount
                        currency: USD
                        values:
                        - date: 2026-06-01
                          value: 634000000
                        - date: 2026-06-02
                          value: 600000000
                      monetization_approximate_earnings:
                        total: 1234
                        unit: unspecified
                        currency: null
                        values:
                        - date: 2026-06-01
                          value: 700
                        - date: 2026-06-02
                          value: 534
                    dataDelay: Meta page insights may be delayed up to 24 hours. Metrics
                      reflect the current (post-November 2025) Graph API names. Monetization
                      earnings are approximate and Meta restates them after the fact.
                monetizationUnavailable:
                  summary: A monetization metric Meta returned no bucket for
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: facebook
                    dateRange:
                      since: 2026-06-01
                      until: 2026-06-30
                    metricType: total_value
                    metrics:
                      page_media_view:
                        total: 125000
                    unavailableMetrics:
                    - metric: content_monetization_earnings
                      reason: no_data
                      message: Meta returned no data for this monetization metric.
                    dataDelay: Meta page insights may be delayed up to 24 hours. Metrics
                      reflect the current (post-November 2025) Graph API names. Monetization
                      earnings are approximate and Meta restates them after the fact.
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Page insights data
        "400":
          description: |
            Bad request. Common cases:
              - Requested a deprecated metric (page_impressions, page_fans, page_fan_adds, page_fan_removes) - use current names instead
              - Account has no Page selected (metadata.pageAccessToken missing)
              - Invalid accountId / metrics / metricType / date range
              - Account is not a Facebook account
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "404":
          description: Account not found
      summary: Get Facebook Page insights
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/facebook/post-earnings:
    get:
      description: |
        Returns lifetime monetization earnings for ONE Facebook post, read live from Meta on every
        request. Requires the Analytics add-on.

        Earnings are CUMULATIVE since the post was published, not earnings within a date range, so
        this endpoint takes no since/until and the totals must not be summed across dates or across
        posts. Page-level daily earnings live on /v1/analytics/facebook/page-insights.

        A post on a Page that is not enrolled in monetization, or that earned nothing, returns
        "total": 0 rather than an error: Meta does not distinguish the two. A metric Meta returned no
        bucket for at all is reported in "unavailableMetrics" and omitted from "metrics", never as a 0.

        Amounts are the platform's raw numbers in the stated "unit" and are never rescaled by Zernio.
        Breakdown dimensions are not exposed and a "breakdown" param is rejected with 400. So are
        "since", "until", "period", and "metricType": scoping this endpoint to a window is not
        possible, and silently returning the lifetime total for one would let a caller sum a year of
        weekly requests into a figure ~52x the post's real earnings.
      operationId: getFacebookPostEarnings
      parameters:
      - description: The Zernio SocialAccount ID for the connected Facebook Page.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          The platform post ID, exactly as returned in platformAnalytics[].platformPostId by
          /v1/analytics: "{pageId}_{postId}", or the bare video ID for Reels.
        explode: true
        in: query
        name: postId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of monetization metrics. Defaults to both:
            - content_monetization_earnings
            - monetization_approximate_earnings

          content_monetization_earnings always carries unit "micro_amount" plus an ISO 4217
          "currency". monetization_approximate_earnings is always a bare number, so its unit is
          "unspecified" and its "currency" is null. The two are on different scales and are not
          comparable to each other. Any other metric name is rejected with 400.
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                served:
                  summary: "Both metrics served, each at its own scale"
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    postId: 123456789_987654321
                    platform: facebook
                    period: lifetime
                    metrics:
                      content_monetization_earnings:
                        total: 1234000000
                        unit: micro_amount
                        currency: USD
                      monetization_approximate_earnings:
                        total: 1234
                        unit: unspecified
                        currency: null
                    dataDelay: "Meta restates monetization earnings after the fact.\
                      \ Per-post earnings are lifetime cumulative: they are the total\
                      \ since publication, not earnings within a date range, and must\
                      \ not be summed across dates."
                partiallyUnavailable:
                  summary: "One metric served, one with no bucket returned by Meta"
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    postId: 123456789_987654321
                    platform: facebook
                    period: lifetime
                    metrics:
                      monetization_approximate_earnings:
                        total: 0
                        unit: unspecified
                        currency: null
                    unavailableMetrics:
                    - metric: content_monetization_earnings
                      reason: no_data
                      message: Meta returned no data for this monetization metric.
                    dataDelay: "Meta restates monetization earnings after the fact.\
                      \ Per-post earnings are lifetime cumulative: they are the total\
                      \ since publication, not earnings within a date range, and must\
                      \ not be summed across dates."
              schema:
                $ref: "#/components/schemas/FacebookPostEarningsResponse"
          description: Lifetime per-post monetization earnings
        "400":
          description: |
            Bad request. Common cases:
              - Invalid accountId format, or a metric name that is not a monetization metric
              - A "breakdown" param was supplied (breakdown dimensions are not exposed)
              - A "since", "until", "period", or "metricType" param was supplied (this endpoint returns a lifetime total and takes no date range)
              - Account has no Page access token (metadata.pageAccessToken missing)
              - Account is not a Facebook account
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "404":
          description: Account not found
      summary: Get Facebook post monetization earnings
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/instagram/account-insights:
    get:
      description: |
        Returns account-level Instagram insights such as reach, views, accounts engaged, and total interactions.
        These metrics reflect the entire account's performance across all content surfaces (feed, stories, explore, profile),
        and are fundamentally different from post-level metrics. Data may be delayed up to 48 hours.
        Max 90 days, defaults to last 30 days. Requires the Analytics add-on.
      operationId: getInstagramAccountInsights
      parameters:
      - description: The Zernio SocialAccount ID for the Instagram account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of metrics. Defaults to "reach,views,accounts_engaged,total_interactions".
          Valid metrics: reach, views, accounts_engaged, total_interactions, comments, likes, saves, shares,
          replies, reposts, follows_and_unfollows, profile_links_taps.
          Note: only "reach" supports metricType=time_series. All other metrics (including
          follows_and_unfollows) are total_value only. This is an Instagram Graph API limitation,
          not a Zernio limitation - the IG API does not return time-series data for these metrics.
          For a daily running follower count, use /v1/analytics/instagram/follower-history instead.
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to today.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          "total_value" (default) returns aggregated totals and supports breakdowns.
          "time_series" returns daily values but only works with the "reach" metric.
        explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      - description: |
          Breakdown dimension (only valid with metricType=total_value).
          Valid values depend on the metric: media_product_type, follow_type, follower_type, contact_button_type.
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                timeSeries:
                  summary: Time series response with daily values
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: instagram
                    dateRange:
                      since: 2026-03-01
                      until: 2026-03-22
                    metricType: time_series
                    metrics:
                      reach:
                        total: 12500
                        values:
                        - date: 2026-03-01
                          value: 420
                        - date: 2026-03-02
                          value: 385
                      views:
                        total: 45000
                        values:
                        - date: 2026-03-01
                          value: 1520
                        - date: 2026-03-02
                          value: 1380
                    dataDelay: Data may be delayed up to 48 hours
                totalValueWithBreakdown:
                  summary: Total value response with media type breakdown
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: instagram
                    dateRange:
                      since: 2026-03-01
                      until: 2026-03-22
                    metricType: total_value
                    breakdown: media_product_type
                    metrics:
                      reach:
                        total: 12500
                        breakdowns:
                        - dimension: FEED
                          value: 5000
                        - dimension: REELS
                          value: 7500
                    dataDelay: Data may be delayed up to 48 hours
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Account insights data
        "400":
          content:
            application/json:
              examples:
                invalidMetric:
                  value:
                    error: "Invalid metrics: impressions"
                    validMetrics:
                    - accounts_engaged
                    - comments
                    - follows_and_unfollows
                    - likes
                    - profile_links_taps
                    - reach
                    - replies
                    - reposts
                    - saves
                    - shares
                    - total_interactions
                    - views
                breakdownWithTimeSeries:
                  value:
                    error: Breakdowns are only supported with metricType=total_value
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInstagramAccountInsights_404_response"
          description: Account not found
      summary: Get Instagram insights
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/instagram/follower-history:
    get:
      description: |
        Returns a daily running Instagram follower count time series, served from Zernio's
        cross-platform daily snapshotter. Exists because Meta removed follower_count from
        the /insights endpoint in Graph API v22+ and never exposed a historical daily series
        via any public API.

        Response envelope matches /v1/analytics/instagram/account-insights so the same client
        handling works. Max 89 days, defaults to last 30 days. Requires the Analytics add-on.
      operationId: getInstagramFollowerHistory
      parameters:
      - description: The Zernio SocialAccount ID for the Instagram account.
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list. Defaults to "follower_count,followers_gained,followers_lost".
            - follower_count   : per-day raw follower count
            - followers_gained : sum of positive daily deltas
            - followers_lost   : sum of absolute negative daily deltas
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD). Defaults to today.
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          "total_value" returns aggregated totals (latest for follower_count, sum for gained/lost).
          "time_series" returns per-day values in the "values" array.
        explode: true
        in: query
        name: metricType
        required: false
        schema:
          default: total_value
          enum:
          - time_series
          - total_value
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstagramAccountInsightsResponse"
          description: Follower history data
        "400":
          description: "Bad request (invalid accountId / metrics / date range, or\
            \ account is not an Instagram account)"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "404":
          description: Account not found
      summary: Get Instagram follower history
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/instagram/demographics:
    get:
      description: |
        Returns audience demographic insights for an Instagram account, broken down by age, city, country, and/or gender.
        Requires at least 100 followers. Returns top 45 entries per dimension.
        Data may be delayed up to 48 hours. Requires the Analytics add-on.
      operationId: getInstagramDemographics
      parameters:
      - description: The Zernio SocialAccount ID for the Instagram account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          "follower_demographics" for follower audience data, or "engaged_audience_demographics" for engaged viewers.
        explode: true
        in: query
        name: metric
        required: false
        schema:
          default: follower_demographics
          enum:
          - follower_demographics
          - engaged_audience_demographics
          type: string
        style: form
      - description: |
          Comma-separated list of demographic dimensions: age, city, country, gender.
          Defaults to all four if omitted.
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          type: string
        style: form
      - description: |
          Time period for demographic data. Defaults to "this_month".
        explode: true
        in: query
        name: timeframe
        required: false
        schema:
          default: this_month
          enum:
          - this_week
          - this_month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                allBreakdowns:
                  summary: All four demographic breakdowns
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: instagram
                    metric: follower_demographics
                    timeframe: last_30_days
                    demographics:
                      age:
                      - dimension: 25-34
                        value: 4500
                      - dimension: 18-24
                        value: 3200
                      gender:
                      - dimension: M
                        value: 3000
                      - dimension: F
                        value: 4800
                      city:
                      - dimension: "New York, New York"
                        value: 800
                      - dimension: "Los Angeles, California"
                        value: 650
                      country:
                      - dimension: US
                        value: 5000
                      - dimension: GB
                        value: 1200
                    note: Demographics show top 45 entries per dimension. Requires
                      100+ followers.
              schema:
                $ref: "#/components/schemas/InstagramDemographicsResponse"
          description: Demographic insights data
        "400":
          content:
            application/json:
              examples:
                invalidBreakdown:
                  value:
                    error: "Invalid breakdowns: location"
                    validBreakdowns:
                    - age
                    - city
                    - country
                    - gender
                insufficientFollowers:
                  value:
                    success: false
                    error: Demographic insights require at least 100 followers.
                    code: instagram_insufficient_followers
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (invalid parameters)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInstagramAccountInsights_404_response"
          description: Account not found
      summary: Get Instagram demographics
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
  /v1/analytics/youtube/demographics:
    get:
      description: |
        Returns audience demographic insights for a YouTube channel, broken down by age, gender, and/or country.
        Pass videoId to get the audience profile of a single video instead of the whole channel.
        Age and gender values are viewer percentages (0-100). Country values are view counts.
        Data is based on signed-in viewers only, with a 2-3 day delay. YouTube suppresses demographics
        for videos with too few signed-in views, so low-traffic videos can return empty breakdowns.
        Requires the Analytics add-on.
      operationId: getYouTubeDemographics
      parameters:
      - description: The Zernio SocialAccount ID for the YouTube account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: |
          YouTube video ID. When provided, demographics are scoped to this single video
          (must belong to the connected channel; otherwise 404 video_not_found).
        explode: true
        in: query
        name: videoId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated list of demographic dimensions: age, gender, country.
          Defaults to all three if omitted.
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          type: string
        style: form
      - description: |
          Start date in YYYY-MM-DD format. Defaults to 90 days ago, or to the video's
          publish date (lifetime) when videoId is provided.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          End date (YYYY-MM-DD). Defaults to 3 days ago, the newest fully finalized day
          (YouTube finalizes analytics with a ~3-day delay). An explicit endDate is honored
          up to today: days inside the delay window are provisional and may still be revised
          by YouTube (see provisionalSince in the response).
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                allBreakdowns:
                  summary: All three demographic breakdowns
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: youtube
                    demographics:
                      age:
                      - dimension: 25-34
                        value: 28.5
                      - dimension: 18-24
                        value: 22.1
                      gender:
                      - dimension: male
                        value: 62.3
                      - dimension: female
                        value: 35.8
                      country:
                      - dimension: US
                        value: 12000
                      - dimension: GB
                        value: 3500
                    dateRange:
                      startDate: 2026-01-01
                      endDate: 2026-03-31
                    note: "Age/gender values are viewer percentages (0-100). Country\
                      \ values are view counts. Data based on signed-in viewers only,\
                      \ with 2-3 day delay."
                singleVideo:
                  summary: Demographics scoped to one video (videoId provided)
                  value:
                    success: true
                    accountId: 64e1a2b3c4d5e6f7a8b9c0d1
                    platform: youtube
                    videoId: dQw4w9WgXcQ
                    title: Product launch teaser
                    publishedAt: 2026-06-01T09:00:00.000Z
                    demographics:
                      age:
                      - dimension: 25-34
                        value: 41.2
                      gender:
                      - dimension: male
                        value: 75.0
                      - dimension: female
                        value: 25.0
                      country:
                      - dimension: MX
                        value: 394
                      - dimension: AR
                        value: 181
                    dateRange:
                      startDate: 2026-06-01
                      endDate: 2026-07-13
                    note: "Age/gender values are viewer percentages (0-100). Country\
                      \ values are view counts. Data based on signed-in viewers only,\
                      \ with 2-3 day delay."
              schema:
                $ref: "#/components/schemas/YouTubeDemographicsResponse"
          description: Demographic insights data
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_400_response"
          description: Bad request (invalid parameters or not a YouTube account)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_402_response"
          description: Analytics access required. Legacy plans need the Analytics
            add-on; included by default on usage-based plans.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDailyViews_403_response"
          description: Access denied to this account
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInstagramAccountInsights_404_response"
          description: "Account not found, or the video does not exist / does not\
            \ belong to this YouTube channel"
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getYouTubeDemographics_412_response"
          description: YouTube Analytics scope not granted
      summary: Get YouTube demographics
      tags:
      - Analytics
      x-resource-group: analytics
      x-accepts:
      - application/json
[...]
